<div class="container card-container text-xs-left m-t-3 p-b-3">

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-xs-center">You have successfully signed in the following kids.</h3>
      <div class="eqWrap">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">James Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Josiah Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Lizett Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Boone Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Boone Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Boone Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Boone Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Boone Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Boone Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Boone Kerstanoff</h4>
            <p class="m-b-0"><span class="text-muted">Classroom:</span><br>Ones & Twos D (K113)</p>
          </div>
        </div><!--/card-->

      </div><!--/eqWrap-->
    </div>
  </div>
</div>
<div class="fade-out"></div>

<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-xs-center">
        <p class="m-b-0">Printing&#x02026;</p>
        <progress class="progress progress-striped progress-success m-b-2" value="55" max="100"></progress>
      </div>
    </div>
  </div>
</footer>
