<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="MyRoles" value="507" />

  <add key="KidsClubAgesAttributeTypeId" value="102" />
  <add key="KidsClubGradesAttributeTypeId" value="104" />
  <add key="KidsClubBirthMonthsAttributeTypeId" value="103" />
  <add key="KidsClubNurseryAgesAttributeTypeId" value="105" />
  <add key="KidsClubNurseryAgeAttributeId" value="9014" />
  <add key="KidsClubGroupTypeId" value="4" />
  <add key="KidsClubMinistryId" value="2" />
  <add key="KidsClubCongregationId" value="5" />
  <add key="HeadOfHouseholdId" value="1" />
  <add key="OtherAdultId" value="3" />
  <add key="AdultChildId" value="4" />
  <add key="MinorChildId" value="2" />
  <add key="KidsClubRegistrationSourceId" value="48" />
  <add key="AttendeeParticipantType" value="2" />
  <add key="GroupRoleMemberId" value="16"/>
  <add key="AdventureClubEventTypeId" value="20"/>

  <add key="SignedInParticipationStatusId" value="3"/>
  <add key="CheckedInParticipationStatusId" value="4"/>
  <add key="MachineConfigDetails" value="machine_config_details" />

  <add key="GuestHouseholdId" value="5771805" />
  
  <!-- group ids for new family lookup -->
  <!-- January birthdates -->
  <add key="Jan_0-1" value="177163" />
  <add key="Jan_1-2" value="177162" />
  <add key="Jan_2-3" value="177161" />
  <add key="Jan_3-4" value="177160" />
  <add key="Jan_4-5" value="177159" />
  <add key="Jan_5-6" value="177158" />
  <add key="Jan_6-7" value="177157" />
  <add key="Jan_7-8" value="177156" />
  <add key="Jan_8-9" value="177155" />
  <add key="Jan_9-10" value="177154" />
  <add key="Jan_10-11" value="177153" />
  <add key="Jan_11-12" value="177152" />

  <!-- February birthdates -->
  <add key="Feb_0-1" value="177175" />
  <add key="Feb_1-2" value="177174" />
  <add key="Feb_2-3" value="177173" />
  <add key="Feb_3-4" value="177172" />
  <add key="Feb_4-5" value="177171" />
  <add key="Feb_5-6" value="177170" />
  <add key="Feb_6-7" value="177169" />
  <add key="Feb_7-8" value="177168" />
  <add key="Feb_8-9" value="177167" />
  <add key="Feb_9-10" value="177166" />
  <add key="Feb_10-11" value="177165" />
  <add key="Feb_11-12" value="177164" />

  <!-- March birthdates -->
  <add key="Mar_0-1" value="177187" />
  <add key="Mar_1-2" value="177186" />
  <add key="Mar_2-3" value="177185" />
  <add key="Mar_3-4" value="177184" />
  <add key="Mar_4-5" value="177183" />
  <add key="Mar_5-6" value="177182" />
  <add key="Mar_6-7" value="177181" />
  <add key="Mar_7-8" value="177180" />
  <add key="Mar_8-9" value="177179" />
  <add key="Mar_9-10" value="177178" />
  <add key="Mar_10-11" value="177177" />
  <add key="Mar_11-12" value="177176" />

  <!-- April birthdates -->
  <add key="Apr_0-1" value="177199" />
  <add key="Apr_1-2" value="177198" />
  <add key="Apr_2-3" value="177197" />
  <add key="Apr_3-4" value="177196" />
  <add key="Apr_4-5" value="177195" />
  <add key="Apr_5-6" value="177194" />
  <add key="Apr_6-7" value="177193" />
  <add key="Apr_7-8" value="177192" />
  <add key="Apr_8-9" value="177191" />
  <add key="Apr_9-10" value="177190" />
  <add key="Apr_10-11" value="177189" />
  <add key="Apr_11-12" value="177188" />

  <!-- May birthdates -->
  <add key="May_0-1" value="177211" />
  <add key="May_1-2" value="177210" />
  <add key="May_2-3" value="177209" />
  <add key="May_3-4" value="177208" />
  <add key="May_4-5" value="177207" />
  <add key="May_5-6" value="177206" />
  <add key="May_6-7" value="177205" />
  <add key="May_7-8" value="177204" />
  <add key="May_8-9" value="177203" />
  <add key="May_9-10" value="177202" />
  <add key="May_10-11" value="177201" />
  <add key="May_11-12" value="177200" />

  <!-- June birthdates -->
  <add key="Jun_0-1" value="177223" />
  <add key="Jun_1-2" value="177222" />
  <add key="Jun_2-3" value="177221" />
  <add key="Jun_3-4" value="177220" />
  <add key="Jun_4-5" value="177219" />
  <add key="Jun_5-6" value="177218" />
  <add key="Jun_6-7" value="177217" />
  <add key="Jun_7-8" value="177216" />
  <add key="Jun_8-9" value="177215" />
  <add key="Jun_9-10" value="177214" />
  <add key="Jun_10-11" value="177213" />
  <add key="Jun_11-12" value="177212" />

  <!-- July birthdates -->
  <add key="Jul_0-1" value="177235" />
  <add key="Jul_1-2" value="177234" />
  <add key="Jul_2-3" value="177233" />
  <add key="Jul_3-4" value="177232" />
  <add key="Jul_4-5" value="177231" />
  <add key="Jul_5-6" value="177230" />
  <add key="Jul_6-7" value="177229" />
  <add key="Jul_7-8" value="177228" />
  <add key="Jul_8-9" value="177227" />
  <add key="Jul_9-10" value="177226" />
  <add key="Jul_10-11" value="177225" />
  <add key="Jul_11-12" value="177224" />

  <!-- August birthdates -->
  <add key="Aug_0-1" value="177247" />
  <add key="Aug_1-2" value="177246" />
  <add key="Aug_2-3" value="177245" />
  <add key="Aug_3-4" value="177244" />
  <add key="Aug_4-5" value="177243" />
  <add key="Aug_5-6" value="177242" />
  <add key="Aug_6-7" value="177241" />
  <add key="Aug_7-8" value="177240" />
  <add key="Aug_8-9" value="177239" />
  <add key="Aug_9-10" value="177238" />
  <add key="Aug_10-11" value="177237" />
  <add key="Aug_11-12" value="177236" />

  <!-- September birthdates -->
  <add key="Sep_0-1" value="177259" />
  <add key="Sep_1-2" value="177258" />
  <add key="Sep_2-3" value="177257" />
  <add key="Sep_3-4" value="177256" />
  <add key="Sep_4-5" value="177255" />
  <add key="Sep_5-6" value="177254" />
  <add key="Sep_6-7" value="177253" />
  <add key="Sep_7-8" value="177252" />
  <add key="Sep_8-9" value="177251" />
  <add key="Sep_9-10" value="177250" />
  <add key="Sep_10-11" value="177249" />
  <add key="Sep_11-12" value="177248" />

  <!-- October birthdates -->
  <add key="Oct_0-1" value="177271" />
  <add key="Oct_1-2" value="177270" />
  <add key="Oct_2-3" value="177269" />
  <add key="Oct_3-4" value="177268" />
  <add key="Oct_4-5" value="177267" />
  <add key="Oct_5-6" value="177266" />
  <add key="Oct_6-7" value="177265" />
  <add key="Oct_7-8" value="177264" />
  <add key="Oct_8-9" value="177263" />
  <add key="Oct_9-10" value="177262" />
  <add key="Oct_10-11" value="177261" />
  <add key="Oct_11-12" value="177260" />

  <!-- November birthdates -->
  <add key="Nov_0-1" value="177283" />
  <add key="Nov_1-2" value="177282" />
  <add key="Nov_2-3" value="177281" />
  <add key="Nov_3-4" value="177280" />
  <add key="Nov_4-5" value="177279" />
  <add key="Nov_5-6" value="177278" />
  <add key="Nov_6-7" value="177277" />
  <add key="Nov_7-8" value="177276" />
  <add key="Nov_8-9" value="177275" />
  <add key="Nov_9-10" value="177274" />
  <add key="Nov_10-11" value="177273" />
  <add key="Nov_11-12" value="177272" />

  <!-- December birthdates -->
  <add key="Dec_0-1" value="177295" />
  <add key="Dec_1-2" value="177294" />
  <add key="Dec_2-3" value="177293" />
  <add key="Dec_3-4" value="177292" />
  <add key="Dec_4-5" value="177291" />
  <add key="Dec_5-6" value="177290" />
  <add key="Dec_6-7" value="177289" />
  <add key="Dec_7-8" value="177288" />
  <add key="Dec_8-9" value="177287" />
  <add key="Dec_9-10" value="177286" />
  <add key="Dec_10-11" value="177285" />
  <add key="Dec_11-12" value="177284" />

  <!-- One Year Old Groups -->
  <add key="Jan_1yr" value="173988" />
  <add key="Feb_1yr" value="173989" />
  <add key="Mar_1yr" value="173990" />
  <add key="Apr_1yr" value="173991" />
  <add key="May_1yr" value="173992" />
  <add key="Jun_1yr" value="173993" />
  <add key="Jul_1yr" value="173994" />
  <add key="Aug_1yr" value="173995" />
  <add key="Sep_1yr" value="173996" />
  <add key="Oct_1yr" value="173997" />
  <add key="Nov_1yr" value="173998" />
  <add key="Dec_1yr" value="173999" />

  <!-- Two Year Old Groups -->
  <add key="Jan_2yr" value="173976" />
  <add key="Feb_2yr" value="173977" />
  <add key="Mar_2yr" value="173978" />
  <add key="Apr_2yr" value="173979" />
  <add key="May_2yr" value="173980" />
  <add key="Jun_2yr" value="173981" />
  <add key="Jul_2yr" value="173982" />
  <add key="Aug_2yr" value="173983" />
  <add key="Sep_2yr" value="173984" />
  <add key="Oct_2yr" value="173985" />
  <add key="Nov_2yr" value="173986" />
  <add key="Dec_2yr" value="173987" />

  <!-- Three Year Old Groups -->
  <add key="Jan_3yr" value="173964" />
  <add key="Feb_3yr" value="173965" />
  <add key="Mar_3yr" value="173966" />
  <add key="Apr_3yr" value="173967" />
  <add key="May_3yr" value="173968" />
  <add key="Jun_3yr" value="173969" />
  <add key="Jul_3yr" value="173970" />
  <add key="Aug_3yr" value="173971" />
  <add key="Sep_3yr" value="173972" />
  <add key="Oct_3yr" value="173973" />
  <add key="Nov_3yr" value="173974" />
  <add key="Dec_3yr" value="173975" />

  <!-- Four Year Old Groups -->
  <add key="Jan_4yr" value="173952" />
  <add key="Feb_4yr" value="173953" />
  <add key="Mar_4yr" value="173954" />
  <add key="Apr_4yr" value="173955" />
  <add key="May_4yr" value="173956" />
  <add key="Jun_4yr" value="173957" />
  <add key="Jul_4yr" value="173958" />
  <add key="Aug_4yr" value="173959" />
  <add key="Sep_4yr" value="173960" />
  <add key="Oct_4yr" value="173961" />
  <add key="Nov_4yr" value="173962" />
  <add key="Dec_4yr" value="173963" />

  <!-- Five Year Old Groups -->
  <add key="Jan_5yr" value="173940" />
  <add key="Feb_5yr" value="173941" />
  <add key="Mar_5yr" value="173942" />
  <add key="Apr_5yr" value="173943" />
  <add key="May_5yr" value="173944" />
  <add key="Jun_5yr" value="173945" />
  <add key="Jul_5yr" value="173946" />
  <add key="Aug_5yr" value="173947" />
  <add key="Sep_5yr" value="173948" />
  <add key="Oct_5yr" value="173949" />
  <add key="Nov_5yr" value="173950" />
  <add key="Dec_5yr" value="173951" />

  <!-- Grade School Groups -->
  <add key="KcKind" value="173939" />
  <add key="KcFirst" value="173938" />
  <add key="KcSecond" value="173937" />
  <add key="KcThird" value="173936" />
  <add key="KcFourth" value="173935" />
  <add key="KcFifth" value="173934" />
</appSettings>