<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="MyRoles" value="507" />

  <add key="KidsClubAgesAttributeTypeId" value="102" />
  <add key="KidsClubGradesAttributeTypeId" value="104" />
  <add key="KidsClubBirthMonthsAttributeTypeId" value="103" />
  <add key="KidsClubNurseryAgesAttributeTypeId" value="105" />
  <add key="KidsClubNurseryAgeAttributeId" value="9014" />
  
</appSettings>