<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="MyRoles" value="507" />

  <add key="KidsClubAgesAttributeTypeId" value="102" />
  <add key="KidsClubGradesAttributeTypeId" value="104" />
  <add key="KidsClubBirthMonthsAttributeTypeId" value="103" />
  <add key="KidsClubNurseryAgesAttributeTypeId" value="105" />
  <add key="KidsClubNurseryAgeAttributeId" value="9014" />
  <add key="KidsClubGroupTypeId" value="4" />
  <add key="KidsClubMinistryId" value="2" />
  <add key="KidsClubCongregationId" value="5" />
  <add key="HeadOfHouseholdId" value="1" />
  <add key="OtherAdultId" value="3" />
  <add key="AdultChildId" value="4" />
  <add key="MinorChildId" value="2" />
</appSettings>