<!--Documentation: http://msdn.microsoft.com/en-us/library/ff660914%28v=pandp.20%29.aspx -->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="SignInCheckIn" />
  <assembly name="System.Runtime" />
  <assembly name="RestSharp" />
  <assembly name="MinistryPlatform.Translation" />
  <assembly name="Crossroads.Utilities" />
  <!--<assembly name="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
  <assembly name="System.Web.Cors" />

  <container>
    <!-- Register Utility Dependencies -->
    <register type="Crossroads.Utilities.Services.Interfaces.IConfigurationWrapper" mapTo="Crossroads.Utilities.Services.ConfigurationWrapper" />
    
    <!-- Services -->
    <register type="SignInCheckIn.Services.Interfaces.IHelloWorldService" mapTo="SignInCheckIn.Services.HelloWorldService" />
    <register type="SignInCheckIn.Services.Interfaces.ILoginService" mapTo="SignInCheckIn.Services.LoginService" />
    
    <!-- Respositories -->
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IApiUserRepository" mapTo="MinistryPlatform.Translation.Repositories.ApiUserRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IAuthenticationRepository" mapTo="MinistryPlatform.Translation.Repositories.AuthenticationRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IMinistryPlatformRestRepository" mapTo="MinistryPlatform.Translation.Repositories.MinistryPlatformRestRepository">
      <constructor>
        <param name="ministryPlatformRestClient">
          <dependency name="ministryPlatformRestClient"/>
        </param>
      </constructor>
    </register>
    
    <!-- MinistryPlatform REST client -->
    <register name="ministryPlatformRestClient" type="RestSharp.IRestClient" mapTo="RestSharp.RestClient">
      <constructor>
        <param name="baseUrl" type="string">
          <value value="MP_REST_API_ENDPOINT" typeConverter="Crossroads.Utilities.Services.EnvironmentVariableTypeConverter" />
        </param>
      </constructor>
    </register>

    <!-- Filters -->
    <register type="SignInCheckIn.Filters.DomainLockedApiKeyFilter">
      <lifetime type="ContainerControlledLifetimeManager"/>
      <constructor>
        <param name="ministryPlatformRestRepository" />
        <param name="corsEngine">
          <dependency name="domainLockedApiKeyCorsEngine" />
        </param>
        <param name="apiUserRepository" />
      </constructor>
    </register>
    <register type="System.Web.Cors.ICorsEngine" mapTo="System.Web.Cors.CorsEngine" name="domainLockedApiKeyCorsEngine" />
    
  </container>
</unity>
