<!--Documentation: http://msdn.microsoft.com/en-us/library/ff660914%28v=pandp.20%29.aspx -->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="SignInCheckIn" />
  <assembly name="System.Runtime" />
  <assembly name="RestSharp" />
  <assembly name="MinistryPlatform.Translation" />
  <assembly name="Crossroads.Utilities" />
  <assembly name="Crossroads.Web.Common" />
  <assembly name="Printing.Utilities" />
  <assembly name="System.Web.Cors" />

  <container>
    <!-- Register Utility Dependencies -->
    <register type="Crossroads.Utilities.Services.Interfaces.IApplicationConfiguration" mapTo="Crossroads.Utilities.Services.ApplicationConfiguration">
      <lifetime type="ContainerControlledLifetimeManager"/>
    </register>
    <register type="Crossroads.Utilities.Services.Interfaces.IPdfEditor" mapTo="Crossroads.Utilities.Services.TextSharpWrapper">
      <lifetime type="ContainerControlledLifetimeManager"/>
    </register>
    
    <!-- Register Printing Utility Dependencies -->
    <register type="Printing.Utilities.Services.Interfaces.IPrintingService" mapTo="Printing.Utilities.Services.PrintNodeService">
      <constructor>
        <param name="configRepository"/>
        <param name="printingRestClient">
          <dependency name="printingRestClient"/>
        </param>
        
      </constructor>
      <lifetime type="ContainerControlledLifetimeManager"/>
    </register>
 
    <!-- Services -->
    <register type="SignInCheckIn.Services.Interfaces.IChildSigninService" mapTo="SignInCheckIn.Services.ChildSigninService" />
    <register type="SignInCheckIn.Services.Interfaces.IChildCheckinService" mapTo="SignInCheckIn.Services.ChildCheckinService" />
    <register type="SignInCheckIn.Services.Interfaces.IEventService" mapTo="SignInCheckIn.Services.EventService" />
    <register type="SignInCheckIn.Services.Interfaces.IWebsocketService" mapTo="SignInCheckIn.Services.WebsocketService" />
    <register type="SignInCheckIn.Services.Interfaces.IHelloWorldService" mapTo="SignInCheckIn.Services.HelloWorldService" />
    <register type="SignInCheckIn.Services.Interfaces.IKioskService" mapTo="SignInCheckIn.Services.KioskService" />
    <register type="SignInCheckIn.Services.Interfaces.ILoginService" mapTo="SignInCheckIn.Services.LoginService" /> 
    <register type="SignInCheckIn.Services.Interfaces.IRoomService" mapTo="SignInCheckIn.Services.RoomService" />

    <!-- Respositories -->
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IAttributeRepository" mapTo="MinistryPlatform.Translation.Repositories.AttributeRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IChildCheckinRepository" mapTo="MinistryPlatform.Translation.Repositories.ChildCheckinRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IChildSigninRepository" mapTo="MinistryPlatform.Translation.Repositories.ChildSigninRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IConfigRepository" mapTo="MinistryPlatform.Translation.Repositories.ConfigRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IContactRepository" mapTo="MinistryPlatform.Translation.Repositories.ContactRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IEventRepository" mapTo="MinistryPlatform.Translation.Repositories.EventRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IGroupRepository" mapTo="MinistryPlatform.Translation.Repositories.GroupRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IGroupLookupRepository" mapTo="MinistryPlatform.Translation.Repositories.GroupLookupRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IKioskRepository" mapTo="MinistryPlatform.Translation.Repositories.KioskRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IRoomRepository" mapTo="MinistryPlatform.Translation.Repositories.RoomRepository" />
    <register type="MinistryPlatform.Translation.Repositories.Interfaces.IParticipantRepository" mapTo="MinistryPlatform.Translation.Repositories.ParticipantRepository" />


    <!-- Printing REST client -->
    <register name="printingRestClient" type="RestSharp.IRestClient" mapTo="RestSharp.RestClient">
      <constructor>
        <param name="baseUrl" type="string">
          <value value="PrintingUrl" typeConverter="Crossroads.Web.Common.Configuration.AppSettingsTypeConverter" />
        </param>
      </constructor>
    </register>
  </container>
</unity>
