<!--Documentation: http://msdn.microsoft.com/en-us/library/ff660914%28v=pandp.20%29.aspx -->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="SignInCheckIn" />
  <assembly name="SDammann.WebApi.Versioning" />

  <container>
    <register type="SignInCheckIn.Services.Interfaces.IHelloWorldService" mapTo="SignInCheckIn.Services.HelloWorldService" />
    <!--<register type="SDammann.WebApi.Versioning.Discovery.DefaultControllerIdentificationDetector" />
    <register type="SDammann.WebApi.Versioning.Request.DefaultRequestControllerIdentificationDetector" />-->
  </container>
</unity>