<header-event></header-event>

<div class="wrapper new-family-registration">
  <div class="container-fluid mb-3">
    <form>
      <div class="row">
        <div class="col-sm-12 my-2">
          <h3>Manage Families</h3>
        </div><!--/col-sm-12-->
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="search" class="control-label">Search</label>
            <div class="input-group child-search-input">
              <input #box type="text" id="search" class="form-control" (keyup)="setSearchValue(box.value)" (keyup.enter)="onSearch()">
              <span class="input-group-addon input-group-addon-unstyled pointer" (click)="onClearSearch(box)">
              <span [hidden]="!box.value.length">&times;</span>
            </span>
              <button type="submit" class="btn btn-primary input-group-addon" (click)="onSearch()">Search</button>
            </div>
            <div class="form-text text-muted small">Search by <strong>Phone</strong> or <strong>Parent Last Name, First Name</strong> or <strong>Email</strong></div>
          </div>
        </div>
        <div class="col-sm-6 text-sm-right">
          <a [routerLink]="['/admin/events',eventId,'new-family-registration']">Register a New Family</a>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <preloader *ngIf="searched && processing"></preloader>
          <div class="text-xs-center my-3" *ngIf="searched && !processing && contacts?.length === 0">No results found for "{{ search }}".</div>
          <div>
            <table class="table hidden-print col-xs-12" *ngIf="searched && !processing && contacts?.length > 0">
              <thead>
              <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Site</th>
                <th>Address</th>
                <th>Home Phone</th>
                <th>Mobile Phone</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let contact of contacts">
                <td>{{contact.LastName}}</td>
                <td>{{contact.Nickname}}</td>
                <td>{{contact.CongregationName}}</td>
                <td>{{contact.Address}}</td>
                <td>{{contact.HomePhone}}</td>
                <td>{{contact.MobilePhone}}</td>
                <td>
                  <a class="btn btn-primary btn-sm" [routerLink]="[contact.HouseholdId, 'edit']">Edit</a>
                  <a class="btn btn-primary btn-sm" [routerLink]="[contact.HouseholdId]">Sign In</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


