/***************************************************************************************
* Typography
***************************************************************************************/
p {
  font-weight: $font-weight;
}
.btn {
  font-size: 1.75em;
  text-transform: uppercase;
}
/***************************************************************************************
* Layout
***************************************************************************************/
html {
  background-image: url("../assets/images/bg-highschool.png");
}
body {
  background-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.wrapper {
  height: 100vh;
}
.header {
  background-color: $gray-lightest;
  padding: 1em 0;
  height: 8vh;
}
.main {
  margin: 8vh 0 0 0;
  height: 73vh;
  color: #fff;
  overflow: scroll;
  .card {
    color: $body-color;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 2vh 0;
  height: 8vh;
  color: #fff;
}
.logo {
  width: 70px;
  height: 70px;
  margin-bottom: -3em;
}
.num-pad-value {
  @extend .display-4;
  text-align: center;
  background: none;
  border: none;
  &::placeholder {
    font-size: 1.5rem;
    color: #fff;
  }
  &:focus {
    outline: none;
  }
}

/***************************************************************************************
* General
***************************************************************************************/
.heading-highlight {
  background-color: rgba(116,143,162,0.50);
  padding: 15px;
  /** TODO: This should be moved out to affect all headings. Make a class that uses fluid font-size for all heading **/
  font-size: 2.4vw;
}
