table.available {
  th:not(:first-child) {
    text-align: center;
  }
}

table.bumping {
  th:not(:nth-child(2)) {
    text-align: center;
  }
}

table.bumping {
  thead tr th:last-of-type {
    width: 70px;
  }
}
