<div class="wrapper img-background">
<header class="header">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-5">
        <ul class="stepper list-unstyled">
          <li class="step-item current"><b class="arrow-space"></b><b class="arrow-bg"></b>Step 1</li>
          <li class="step-item"><b class="arrow-space"></b><b class="arrow-bg"></b>Step 2</li>
          <li class="step-item">Step 3</li>
        </ul>
      </div>
      <div class="col-xs-2 text-xs-center">
        <img class="logo" src="assets/images/screwhead.svg" />
      </div>
      <div class="col-xs-5 text-xs-right">
        <ul class="stepper list-unstyled">
          <li class="step-item step-single pull-xs-right">4/22/2016 &#x000B7; 5:45pm</li>
        </ul>
      </div>
    </div>

  </div>
</header>

<div class="main text-xs-center">
  <div class="container-fluid">

    <router-outlet></router-outlet>

  </div>
</div><!--/main-->

<footer class="footer text-xs-right">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <a class="btn btn-primary btn-lg" href="#" [routerLink]="['/results']">Next &#x025B8;</a>
      </div>
    </div>
  </div>
</footer>
</div>
