.search-box {
  input {
      border-right: 0;
      &:focus + .input-group-addon {
        color: #55595c;
        background-color: #fff;
        border-color: #66afe9;
        outline: none;
      }
  }
  .input-group-addon {
      border-left:0 solid transparent;
      background:transparent;
      &:hover {
        cursor: pointer
      }
  }
}

@media print {
  section.print {
    .print-room {
      page-break-after: always;
      display: block;
      page-break-inside: avoid;

      .row > div {
        border: 1px solid #ccc;
      }
    }
  }
}
