@import '../../../assets/scss/_variables.scss';

$num-pad-bg: $brand-gray;

.num-pad {
  color: $body-color;

  table {
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
    border: 0.1rem solid $num-pad-bg;
    width: 100%;
    background-color: $num-pad-bg;
  }
  table td {
    padding: 0;
    width: 18%;
    height: 18%;
    border: 0.1rem solid $num-pad-bg;
  }
  table button {
    display: block;
    font-size: 2em;
    width: 100%;
    min-height: 90px;
    border: none;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    appearance: none;
    transition: background-color .3s ease-out;
    &:focus {
      outline: none;
    }
    &:active {
      background-color: $num-pad-bg;
    }
  }
  table button.btn-muted {
    background-color: transparent;
    color: $gray-light;
    font-size: 1.5em;
    &:active {
      background-color: #fff;
    }
  }
}

.call-number {
  text-align: center;
  color: $gray-dark;
}

.call-number::-webkit-inner-spin-button,
.call-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
