<div class="container-fluid text-xs-left pt-2 mt-2">
  <div class="row">
    <div class="col-xs-6">
      <p class="checkin-header text-xs-center"><span class='h3'>3</span>&nbsp;&nbsp;children signed in</p>

      <div class="list-group echeck-list-group signin-list-group">
        <a class="list-group-item">
          <span class="float-xs-right"> #2324 <span class="tag tag-default tag-pill">&#9658;</span></span>
          James Chan
          <span class="icon icon-large" (click)="showChildDetailModal.show()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><g></g><path d="M15.803 1.282c-8.128 0.109-14.63 6.787-14.522 14.917 0.109 8.125 6.787 14.629 14.915 14.52 8.128-0.109 14.63-6.787 14.522-14.917-0.107-8.126-6.787-14.629-14.915-14.52zM17.435 6.187c1.496 0 1.938 0.867 1.938 1.861 0 1.24-0.994 2.387-2.688 2.387-1.418 0-2.091-0.714-2.051-1.891 0-0.994 0.832-2.357 2.802-2.357zM13.598 25.2c-1.022 0-1.771-0.621-1.056-3.35l1.173-4.838c0.203-0.776 0.237-1.086 0-1.086-0.306 0-1.634 0.536-2.419 1.064l-0.51-0.837c2.488-2.077 5.349-3.296 6.574-3.296 1.022 0 1.192 1.21 0.682 3.070l-1.344 5.088c-0.237 0.899-0.134 1.21 0.102 1.21 0.306 0 1.312-0.371 2.301-1.149l0.578 0.776c-2.418 2.418-5.056 3.349-6.080 3.349z" /></svg></span>
        </a>
        <a class="list-group-item">
          <span class="float-xs-right"> #2324 <span class="tag tag-default tag-pill">&#9658;</span></span>
          Louis Doe
          <span class="icon icon-large" (click)="showChildDetailModal.show()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><g></g><path d="M15.803 1.282c-8.128 0.109-14.63 6.787-14.522 14.917 0.109 8.125 6.787 14.629 14.915 14.52 8.128-0.109 14.63-6.787 14.522-14.917-0.107-8.126-6.787-14.629-14.915-14.52zM17.435 6.187c1.496 0 1.938 0.867 1.938 1.861 0 1.24-0.994 2.387-2.688 2.387-1.418 0-2.091-0.714-2.051-1.891 0-0.994 0.832-2.357 2.802-2.357zM13.598 25.2c-1.022 0-1.771-0.621-1.056-3.35l1.173-4.838c0.203-0.776 0.237-1.086 0-1.086-0.306 0-1.634 0.536-2.419 1.064l-0.51-0.837c2.488-2.077 5.349-3.296 6.574-3.296 1.022 0 1.192 1.21 0.682 3.070l-1.344 5.088c-0.237 0.899-0.134 1.21 0.102 1.21 0.306 0 1.312-0.371 2.301-1.149l0.578 0.776c-2.418 2.418-5.056 3.349-6.080 3.349z" /></svg></span>
        </a>
      </div>

    </div>
    <div class="col-xs-6">
      <p class="checkin-header text-xs-center"><span class='h3'>9</span>&nbsp;&nbsp;children checked in</p>

      <div class="list-group echeck-list-group checkin-list-group">
        <a class="list-group-item">
          <span class="float-xs-right"> #2324</span>
          <span class="tag tag-default tag-pill">&#9668;</span> Johnathan Kerstanoff
          <span class="icon icon-large" (click)="showChildDetailModal.show()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><g></g><path d="M15.803 1.282c-8.128 0.109-14.63 6.787-14.522 14.917 0.109 8.125 6.787 14.629 14.915 14.52 8.128-0.109 14.63-6.787 14.522-14.917-0.107-8.126-6.787-14.629-14.915-14.52zM17.435 6.187c1.496 0 1.938 0.867 1.938 1.861 0 1.24-0.994 2.387-2.688 2.387-1.418 0-2.091-0.714-2.051-1.891 0-0.994 0.832-2.357 2.802-2.357zM13.598 25.2c-1.022 0-1.771-0.621-1.056-3.35l1.173-4.838c0.203-0.776 0.237-1.086 0-1.086-0.306 0-1.634 0.536-2.419 1.064l-0.51-0.837c2.488-2.077 5.349-3.296 6.574-3.296 1.022 0 1.192 1.21 0.682 3.070l-1.344 5.088c-0.237 0.899-0.134 1.21 0.102 1.21 0.306 0 1.312-0.371 2.301-1.149l0.578 0.776c-2.418 2.418-5.056 3.349-6.080 3.349z" /></svg></span>
        </a>
        <a class="list-group-item">
          <span class="float-xs-right"> #2324</span>
          <span class="tag tag-default tag-pill">&#9668;</span> James Kerstanoff
          <span class="icon icon-large" (click)="showChildDetailModal.show()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><g></g><path d="M15.803 1.282c-8.128 0.109-14.63 6.787-14.522 14.917 0.109 8.125 6.787 14.629 14.915 14.52 8.128-0.109 14.63-6.787 14.522-14.917-0.107-8.126-6.787-14.629-14.915-14.52zM17.435 6.187c1.496 0 1.938 0.867 1.938 1.861 0 1.24-0.994 2.387-2.688 2.387-1.418 0-2.091-0.714-2.051-1.891 0-0.994 0.832-2.357 2.802-2.357zM13.598 25.2c-1.022 0-1.771-0.621-1.056-3.35l1.173-4.838c0.203-0.776 0.237-1.086 0-1.086-0.306 0-1.634 0.536-2.419 1.064l-0.51-0.837c2.488-2.077 5.349-3.296 6.574-3.296 1.022 0 1.192 1.21 0.682 3.070l-1.344 5.088c-0.237 0.899-0.134 1.21 0.102 1.21 0.306 0 1.312-0.371 2.301-1.149l0.578 0.776c-2.418 2.418-5.056 3.349-6.080 3.349z" /></svg></span>
        </a>
        <a class="list-group-item">
          <span class="float-xs-right"> #2324</span>
          <span class="tag tag-default tag-pill">&#9668;</span> Cindy Kerstanoff
          <span class="icon icon-large" (click)="showChildDetailModal.show()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><g></g><path d="M15.803 1.282c-8.128 0.109-14.63 6.787-14.522 14.917 0.109 8.125 6.787 14.629 14.915 14.52 8.128-0.109 14.63-6.787 14.522-14.917-0.107-8.126-6.787-14.629-14.915-14.52zM17.435 6.187c1.496 0 1.938 0.867 1.938 1.861 0 1.24-0.994 2.387-2.688 2.387-1.418 0-2.091-0.714-2.051-1.891 0-0.994 0.832-2.357 2.802-2.357zM13.598 25.2c-1.022 0-1.771-0.621-1.056-3.35l1.173-4.838c0.203-0.776 0.237-1.086 0-1.086-0.306 0-1.634 0.536-2.419 1.064l-0.51-0.837c2.488-2.077 5.349-3.296 6.574-3.296 1.022 0 1.192 1.21 0.682 3.070l-1.344 5.088c-0.237 0.899-0.134 1.21 0.102 1.21 0.306 0 1.312-0.371 2.301-1.149l0.578 0.776c-2.418 2.418-5.056 3.349-6.080 3.349z" /></svg></span>
        </a>
      </div>
    </div>
  </div><!--/row-->
</div><!--/container-->

<footer class="footer py-1 sticky-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-xs-left">
        <a class="btn btn-primary btn-block" (click)="showServiceSelectModal.show()">Viewing: Sunday 8:30am</a>
      </div>
    </div>
  </div>
</footer>

<div bsModal #showChildDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="childDetailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close mr-1 mt-1" (click)="showChildDetailModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body text-xs-left">
        <h2 class="m-b-2">
          #9889
        </h2>
        <h1 class="pb-1">John Kerstanoff</h1>
        <div class="row pb-2">
          <div class="col-xs-5 col-sm-3">
              <strong>Classroom:</strong>
          </div>
          <div class="col-sm-9">
            Ones & Twos D (K113)
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Birthdate:</strong>
          </div>
          <div class="col-sm-9">
            3/1/5/2015
          </div>
        </div><!--/row-->
        <div class="row pb-2">
          <div class="col-xs-5 col-sm-3">
              <strong>Grade:</strong>
          </div>
          <div class="col-sm-9">
            N/A
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Guardians:</strong>
          </div>
          <div class="col-sm-9">
            Joe & Heather Kerstanoff
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Length of stay:</strong>
          </div>
          <div class="col-sm-9">
             1 hour
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Signed in:</strong>
          </div>
          <div class="col-sm-9">
            9:42am at Sign In Kiosk
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Checked in:</strong>
          </div>
          <div class="col-sm-9">
            9:45am at K113
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-12 mt-2">
            <button class="btn btn-primary" (click)="showChildDetailModal.hide()">CHECK IN</button>
          </div><!--/col-xs-12-->
        </div><!--/row-->
      </div><!--/modal-body-->
    </div><!--/modal-content-->
  </div><!--/modal-dialog-->
</div><!--/modal-->

<div bsModal #showServiceSelectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="serviceSelecModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close mr-1 mt-1" (click)="showServiceSelectModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h4 class="m-b-2">
          Oakley Services
        </h4>
        <div class="row mx-1">
          <div class="col-xs-4" *ngFor="let event of todaysEvents">
            <button class="btn btn-primary btn-block mb-2">{{event.EventType}}</button>
          </div>
        </div>
      </div><!--/modal-body-->
    </div><!--/modal-content-->
  </div><!--/modal-dialog-->
</div><!--/modal-->
