<div class="container-fluid text-xs-left pt-2 mt-2">
  <div class="row">
    <div class="col-xs-6">
      <p class="checkin-header text-xs-center"><span class='h3'>{{signedIn().length}}</span>&nbsp;&nbsp;children signed in</p>

      <div class="list-group echeck-list-group signin-list-group">
        <a class="list-group-item" *ngFor="let child of signedIn()">
          <room-child [child]="child" (toggleCheckIn)="toggleCheckIn($event)"></room-child>
        </a>
      </div>

    </div>
    <div class="col-xs-6">
      <p class="checkin-header text-xs-center"><span class='h3'>{{checkedIn().length}}</span>&nbsp;&nbsp;children checked in</p>

      <div class="list-group echeck-list-group checkin-list-group">
        <a class="list-group-item" *ngFor="let child of checkedIn()">
          <room-child [child]="child" (toggleCheckIn)="toggleCheckIn($event)"></room-child>
        </a>
      </div>
    </div>
  </div><!--/row-->
</div><!--/container-->

<div bsModal #showChildDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="childDetailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close mr-1 mt-1" (click)="showChildDetailModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body text-xs-left">
        <h2 class="m-b-2">
          #9889
        </h2>
        <h1 class="pb-1">John Kerstanoff</h1>
        <div class="row pb-2">
          <div class="col-xs-5 col-sm-3">
              <strong>Classroom:</strong>
          </div>
          <div class="col-sm-9">
            Ones & Twos D (K113)
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Birthdate:</strong>
          </div>
          <div class="col-sm-9">
            3/1/5/2015
          </div>
        </div><!--/row-->
        <div class="row pb-2">
          <div class="col-xs-5 col-sm-3">
              <strong>Grade:</strong>
          </div>
          <div class="col-sm-9">
            N/A
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Guardians:</strong>
          </div>
          <div class="col-sm-9">
            Joe & Heather Kerstanoff
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Length of stay:</strong>
          </div>
          <div class="col-sm-9">
             1 hour
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Signed in:</strong>
          </div>
          <div class="col-sm-9">
            9:42am at Sign In Kiosk
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-5 col-sm-3">
              <strong>Checked in:</strong>
          </div>
          <div class="col-sm-9">
            9:45am at K113
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-12 mt-2">
            <button class="btn btn-primary" (click)="showChildDetailModal.hide()">CHECK IN</button>
          </div><!--/col-xs-12-->
        </div><!--/row-->
      </div><!--/modal-body-->
    </div><!--/modal-content-->
  </div><!--/modal-dialog-->
</div><!--/modal-->
