<div class="container-fluid text-xs-left pt-2 mt-2">
  <div class="row">
    <div class="col-xs-6">
      <p class="checkin-header text-xs-center"><span class='h3'>{{signedIn().length}}</span>&nbsp;&nbsp;children signed in</p>

      <div class="list-group echeck-list-group signin-list-group">
        <a class="list-group-item" *ngFor="let child of signedIn()">
          <room-child [child]="child" (toggleCheckIn)="toggleCheckIn($event)"></room-child>
        </a>
      </div>

    </div>
    <div class="col-xs-6">
      <p class="checkin-header text-xs-center"><span class='h3'>{{checkedIn().length}}</span>&nbsp;&nbsp;children checked in</p>

      <div class="list-group echeck-list-group checkin-list-group">
        <a class="list-group-item" *ngFor="let child of checkedIn()">
          <room-child [child]="child" (toggleCheckIn)="toggleCheckIn($event)"></room-child>
        </a>
      </div>
    </div>
  </div><!--/row-->
</div><!--/container-->
