/***************************************************************************************
* Typography
***************************************************************************************/
p {
  font-weight: $font-weight;
}
.btn-large {
  font-size: 1.75em;
  text-transform: uppercase;
}
/***************************************************************************************
* Layout
***************************************************************************************/
body {
  background-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.wrapper {

}
.header {
  background-color: $gray-lightest;
  // padding: 2vh 0;
  // height: 8vh;
}
.main {
  flex: 1;
  color: #fff;
  .card, .list-group {
    color: $body-color;
  }
}

.card-container {
  max-height: 72vh;
  overflow-y: scroll;
  position: relative;
}

.footer {
  width: 100%;
  color: #fff;

  @include media-breakpoint-down(xs) {
    .row {
      > div:first-of-type {
        margin-bottom: $half-spacing-unit;
      }
    }
  }
}

.serving-question-cont {
   padding-top: .5rem;
 }

.sticky-footer {
  position: fixed;
  bottom: 0;
  background: #172B3A;

  &:before {
    content: "";
    height: 20px;
    width: 100%;
    display: block;
    position: absolute;
    top: -20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#27475c+0,27475c+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(39,71,92,0) 0%, rgba(39,71,92,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(39,71,92,0) 0%,rgba(39,71,92,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(39,71,92,0) 0%,rgba(39,71,92,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0027475c', endColorstr='#27475c',GradientType=0 ); /* IE6-9 */
  }
}

.logo {
  @include media-breakpoint-up(md) {
    height: 4.5em;
    width: 4.5em;
  }
  margin-bottom: -3em;
}
.num-pad-value {
  @extend .display-4;
  font-size: 1rem;
  text-align: center;
  background: none;
  border: none;
  vertical-align: bottom;
  position: relative;
  &::placeholder {
    font-size: 1.5rem;
    line-height: 1em;
    color: #fff;
    opacity: 1;
    vertical-align: bottom;
  }
  &:focus {
    outline: none;
  }
  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 2rem;
  }
}

.new-family-text {
  padding-top: 0;
  font-size: 1rem;

  @include media-breakpoint-up(lg) {
    padding-top: .45rem;
  }

  @include media-breakpoint-up(xl) {
    padding-top: .45rem;
    font-size: 1.25rem;
  }
}

/***************************************************************************************
* General
***************************************************************************************/
.heading-highlight {
  background-color: transparentize($brand-blue, .5);
  display: inline-block;
  padding: .45em 1em;
  color: #fff;
}

.child-signin-wrapper {
  ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  ::placeholder {
    color: #fff;
    opacity: 1;
  }
}

.modal-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // min-height: 100vh;
  background-color: $brand-dkblue;
  z-index: 999;
  h1 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 2em;
  }
}
.list-group-or {
  transform: translateX(-0.5em);
  color: $gray-light;
  position: absolute;
}

.label {
  vertical-align: bottom;
  font-weight: normal;
}

.text-white {
  color: #fff;
}

a.btn-primary:not([href]):not([tabindex]) {
    color: white !important;
}

.btn-primary:active,
.btn-primary.active {
  background: lighten($brand-blue, 30%);
  color: $brand-dkblue;
}

a.btn-primary.active:not([href]):not([tabindex]) {
    color: $brand-dkblue !important;
}

.btn-icon {
  font-size: 1.5rem;
}

.btn:disabled,
.btn.disabled {
  opacity: .4;
}

.btn {
  svg {
    height: 15px;
    width: 20px;
    vertical-align: baseline;
  }

  &.btn-primary {
    fill: #fff;
  }

  &.btn-default {
    fill: #000;
  }
}

.line-height-1 {
  line-height: 1;
}

.line-height-2 {
  line-height: 2;
}

.nav-link {
  cursor: pointer;
}

datepicker {
  .btn-info {
    .text-muted {
      color: #fff !important;
    }
  }
}

.pointer {
  cursor: pointer;
}

.footer,
.card {
  ::selection {
    background: transparent;
  }
}

.manage-rooms-table-container {
  @media screen {
    height: 70vh;
    overflow-y: scroll;
  }

  .manage-rooms-fixed-header {
    position: absolute;
    top: 0;
    background: white;
    z-index: 20;
  }

  .manage-rooms-scroll-header thead {
    @media screen {
      opacity: 0;
    }
  }
}

.manage-rooms-table {
  @include media-breakpoint-down(lg) {
    display: block;
    width: 100%;
    min-height: 0%;
    overflow-x: auto;

    @media screen {
      td, th {
        padding: $table-sm-cell-padding;
      }
    }
  }

  @media print {
    .alert-danger {
      td {
        background: #e1e1e1 !important;
        -webkit-print-color-adjust:exact;

        input {
          background: #e1e1e1 !important;
          -webkit-print-color-adjust:exact;
          print-color-adjust:exact;
        }
      }
    }
  }

  .tag.tag-info {
    margin-left: 5px;
    vertical-align: text-top;
  }
}
