<preloader *ngIf="!isReady" [fullscreen]="true"></preloader>

<div class="container text-xs-left mt-3 pb-3 mb-3">
  <div class="row">
    <div class="col-md-12">

      <div class="eqWrap">
        <div class="card text-xs-center pointer">
          <!-- <a routerLink="/child-signin/guest"> -->
          <a (click)="openNewGuestModal(addGuestModal)">
            <div class="card-block">
              <span class="round-plus">+</span>
              <h4 class="card-title text-uppercase">Add A Guest</h4>
            </div>
          </a>
        </div>
        <!--DEVNOTE: Card should be clickable and toggle the on/off state -->
        <div class="card" *ngFor="let kid of childrenAvailable()" >
          <available-child [child]="kid">
          </available-child>
        </div><!--/card-->
      </div><!--/eqWrap-->

    </div>
  </div>
</div>
<div class="fade-out"></div>

<footer class="footer pt-1 sticky-footer pos-f-b">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-4 pb-1">
        <a  class="btn btn-primary btn-lg float-xs-left" href="#" routerLink="/child-signin/search">&#10094; Back</a>
      </div>

      <div class="col-xs-4 text-xs-center serving-question-cont">
        <span class="tgl-inline-label">Are you serving today?</span>
        <input class='tgl tgl-light' id='isServing' type='checkbox' [(ngModel)]="isServing" (click)="toggleClick(showServiceSelectModal)">
        <label class='tgl-btn' for='isServing'>
          <span class="tgl-yes">Yes</span>
          <span class="tgl-no">No</span>
        </label>
      </div>

      <div class="col-xs-4 pb-1">
        <a class="btn btn-primary btn-lg float-xs-right" (click)="signIn()">Next &#10095;</a>
      </div>

    </div>
  </div>
</footer>

<div bsModal #showServiceSelectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="serviceSelectModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close mr-1 mt-1" (click)="showServiceSelectModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h5 class="my-2">
          How many services will your children be in Kids’ Club?
        </h5>
        <div class="row my-3">
          <div class="col-sm-4 offset-sm-2">
            <a (click)="toggleServingHours(showServiceSelectModal, 1);" class="btn btn-primary btn-block py-3" [ngClass]="{'active': isServingOneHour}">1 HOUR</a>
          </div>
          <div class="col-sm-4">
            <a (click)="toggleServingHours(showServiceSelectModal, 2);" class="btn btn-primary btn-block py-3" [ngClass]="{'active': isServingTwoHours}">2 HOURS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addGuestModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addGuestModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" *ngIf="newGuestChild">
    <div class="modal-content">
      <button type="button" class="close mr-1 mt-1" (click)="addGuestModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body pb-1">
        <div class="add-child-guest">
          <div class="container-fluid pt-1">
            <div class="row mt-2">
              <div class="col-xs-12">
                <div class="row text-xs-left">
                  <div class="col-xs-12">
                    <h3>Add Guest</h3>
                  </div>
                </div>
                <div class="row text-xs-left">
                  <div class="col-xs-12">
                    <p>Have a new family member? Add them at the New Family Check In Desk</p>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-sm-6">
                    <fieldset class="form-group">
                      <input type="text" class="form-control form-control-lg" id="formGroupExampleInput" placeholder="First Name" [(ngModel)]="newGuestChild.FirstName">
                    </fieldset>
                  </div>
                  <div class="col-sm-6">
                    <fieldset class="form-group">
                      <input type="text" class="form-control form-control-lg" id="formGroupExampleInput2" placeholder="Last Name" [(ngModel)]="newGuestChild.LastName">
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group required text-xs-left">
                      <label for="guestChildBirthDate" class="control-label">Birth Date</label>
                      <br/>
                      <crds-datepicker name="guestChildBirthDate" autoClose="true" [(date)]="newGuestChild.DateOfBirth" [maxDate]="maxDate" class="input-lg"></crds-datepicker>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group required text-xs-left" *ngIf="needGradeLevel()">
                      <label for="childGrade" class="control-label">Year / Grade</label>
                      <select class="form-control form-control-lg" (change)="updateChildYearGradeGroup(newGuestChild, $event.target.value)">
                        <option>Has not started Kindergarten yet</option>
                        <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="saveNewGuest(addGuestModal)">Add</button>
      </div>
    </div>
  </div>
</div>
