<div class="num-pad">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td><button (click)="setNumber(1)">1</button></td>
      <td><button (click)="setNumber(2)">2</button></td>
      <td><button (click)="setNumber(3)">3</button></td>
    </tr>
    <tr>
      <td><button (click)="setNumber(4)">4</button></td>
      <td><button (click)="setNumber(5)">5</button></td>
      <td><button (click)="setNumber(6)">6</button></td>
    </tr>
    <tr>
      <td><button (click)="setNumber(7)">7</button></td>
      <td><button (click)="setNumber(8)">8</button></td>
      <td><button (click)="setNumber(9)">9</button></td>
    </tr>
    <tr>
      <td><button (click)="clear()" class="btn-muted">clear</button></td>
      <td><button (click)="setNumber(0)">0</button></td>
      <td>
        <button (click)="delete()" class="btn-muted">
          <span class="icon icon-xlarge">
            <svg viewBox="0 0 31 25" xmlns="http://www.w3.org/2000/svg"> <g fill="none" fill-rule="evenodd"> <path class="fill" d="M16.605 12.61l-2.713 2.713c-.362.362-.363.942-.006 1.3.36.36.94.354 1.3-.007l2.713-2.713 2.71 2.713c.362.363.942.363 1.3.006.36-.36.354-.94-.007-1.3L19.19 12.61l2.835-2.833c.362-.363.363-.943.005-1.3-.358-.36-.938-.354-1.298.006L17.9 11.316l-2.834-2.833c-.363-.363-.943-.363-1.3-.006-.36.36-.355.94.006 1.3l2.833 2.833z" fill="#000"/> <path class="currentcolor" d="M2.097 13.31c-.33-.448-.318-1.167.022-1.6L10.5 1h19v23H9.994L2.097 13.31z" stroke="#000" stroke-width="2"/> </g> </svg>
          </span>
        </button>
      </td>
    </tr>
  </table>
</div>