<div class="container-fluid">
    <div class="row mt-2">
        <div class="offset-md-4 col-md-4">
            <button class="btn btn-warning btn-lg btn-block" (click)="goToChildCheckin()">Child Checkin</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="offset-md-4 col-md-4">
            <button class="btn btn-primary btn-lg btn-block" (click)="goToChildSignin()">Child Signin</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="offset-md-4 col-md-4">
            <button class="btn btn-info btn-lg btn-block" (click)="goToAdminTools()">Admin Tools</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="offset-md-4 col-md-4">
            <button class="btn btn-outline-success btn-lg btn-block" [routerLink]="['/setup']">Setup</button>
        </div>
    </div>
</div>
