<div class="alert alert-danger" role="alert" *ngIf="error">You must enter a valid 10 digit phone number.</div>

<div>
  <router-outlet></router-outlet>
</div>

<div class="container-fluid m-t-2 m-b-1 p-t-1">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="heading-highlight m-b-1">First time here? We’ll help you at the New Family Check-In Desk!</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <!--DEVNOTE: create an input mask that appears as user types https://igorescobar.github.io/jQuery-Mask-Plugin/ -->
      <input type="tel" class="num-pad-value col-xs-12"
        readonly placeholder="Enter your phone number to check in your kids."
        value="{{phoneNumber | phoneNumber}}">
    </div>
  </div>

  <div class="row">
    <div class="container-fluid col-md-8 offset-md-2">
      <number-pad (addNumber)="setPhoneNumber($event)" (deleteNumber)="delete($event)" (clearNumber)="clear($event)"></number-pad>
      <div class="m-t-2">
        <a class="pull-xs-left pointer" (click)="showUnmatchedNumberModal.show()">Number not found (temporary link)</a>
        <a class="btn btn-primary btn-lg pull-xs-right" (click)="next()">Next &#10095;</a>
      </div><!--/m-t-1-->
    </div>
  </div>
</div>

<div bsModal #showUnmatchedNumberModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="serviceSelecModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close m-r-1 m-t-1" (click)="showUnmatchedNumberModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="row m-x-1">
          <div class="col-xs-12 m-y-3">
            <h1 class="m-b-2">Phone number not found. </h1>
            <h3>
              If this is your first time here or your number has changed, go to the New Family Desk and we will help you.
            </h3>
          </div>
        </div>
      </div><!--/modal-body-->
    </div><!--/modal-content-->
  </div><!--/modal-dialog-->
</div><!--/modal-->
