$spinnerHeight: 80px;

.preloader-wrapper {
  height: calc(50% - $spinnerHeight/2 );
  width: calc(50% - $spinnerHeight/2 );

  &.fullscreen {
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    bottom: 100%;
  }

  .preloader {
    position: relative;
    width: 80px;
    height: 80px;
    background: transparent;
    margin: 0 auto;
    -webkit-animation: spin 700ms linear infinite;
    animation: spin 700ms linear infinite;
    display: block;

    &.fullscreen {
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      position: fixed;
      margin: 0;
    }
  }
}

preloader {
  display: none;

  .loading & {
    display: block;
  }
}

.outlet-wrapper {
  display: block;

  .loading & {
    display: none;
  }
}
