<div class="add-child-guest">
  <div class="container-fluid mt-3 pt-1">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-xs-center white">Enter your guest info below and click “Next”</h3>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-xs-12 col-xl-10 offset-xl-1">
        <div class="row m-b-1">
          <div class="col-sm-6">
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" id="formGroupExampleInput" placeholder="First Name">
            </fieldset>    </div>
          <div class="col-sm-6">
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" id="formGroupExampleInput2" placeholder="Last Name">
            </fieldset>
          </div>
        </div>

        <div class="row guest-age-btns">
        <label class="m-b-1 col-xs-12 text-xs-left lead">Age Group</label>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>0-11</span><small>months</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>1</span><small>year old</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>2</span><small>years old</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>3</span><small>years old</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>4</span><small>years old</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>5</span><small>years old</small></a>
          </div>
        </div>

        <div class="row guest-age-btns">
        <label class="my-1 col-xs-12 text-xs-left lead">Or Grade</label>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>K</span><small>Kindergarten</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>1st</span><small>Grade</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>2nd</span><small>Grade</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>3rd</span><small>Grade</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>4th</span><small>Grade</small></a>
          </div>
          <div class="col-xs-2 m-b-1">
            <a class="btn btn-primary btn-block btn-xs-block py-2"><span>5th</span><small>Grade</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer pt-1 sticky-footer">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6 pb-1">
        <a  class="btn btn-primary btn-lg float-xs-left" href="#" [routerLink]="['/results']">Cancel</a>
      </div>

      <div class="col-xs-6 pb-1">
        <a class="btn btn-primary btn-lg float-xs-right" href="#" [routerLink]="['/results']">Next &#10095;</a>
      </div>

    </div>
  </div>
</footer>
