<div class="modal-full">
  <div class="container-fluid vertical-center">
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <h1>
          Phone number not found. If this is your first time here or your number has changed, go to the  New Family Check-In Desk and we will sign you in.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a class="btn btn-primary btn-lg float-xs-right" href="#">Dismiss</a>
      </div>
    </div>
  </div>
</div>
