@import '../../../../../assets/scss/_variables.scss';

.card-wrapper {
  float: left;
}

.eqWrap {
  .card.xl {
    width: 31%;
  }
}

.datepicker {
  .wrapper {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.add-child-guest {
  .form-control-lg {
    padding: 0.75rem;
  }
}
