@import '../../../../../assets/scss/_variables.scss';

.card-wrapper {
  float: left;
}

.eqWrap {
  .card.xl {
    width: 40%;
  }
}

footer {
  a {
    margin-left: auto;
  }
}

a.back {
  color: $brand-blue;
  text-decoration: none;
}
