<header-event></header-event>

<preloader *ngIf="processing"></preloader>
<div class="container mt-3 pb-3 mb-3" *ngIf="eventParticipants && eventParticipants.hasParticipants() && !processing">
  <div class="row">
    <div class="col-md-12">
      <div class="eqWrap">
        <div class="card xl text-xs-center pointer">
          <a (click)="openNewFamilyMemberModal(newFamilyMemberModal)">
            <div class="card-block">
              <span class="round-plus">+</span>
              <h4 class="card-title guest-title">Add New Family Member</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="eqWrap mt-2">
        <div class="card" *ngFor="let kid of eventParticipants.Participants">
            <child-signin-card [child]="kid">
            </child-signin-card>
        </div>
      </div>
      <footer class="eqWrap mt-2">
        <a class="btn btn-primary btn-lg float-xs-right" (click)="signIn()">Sign In
          <svg height="12" viewBox="0 0 9 12" width="9" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 0l-1.4 1.4 4.6 4.6-4.6 4.6 1.4 1.4 6-6-6-6z" /></svg>
        </a>
      </footer>
    </div>
  </div>
</div>

<div bsModal #newFamilyMemberModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newFamilyMemberModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" *ngIf="newContact">
    <div class="modal-content">
      <button type="button" class="close mr-1 mt-1" (click)="newFamilyMemberModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body pb-1">
        <div class="add-child-guest">
          <div class="container-fluid pt-1">
            <div class="row mt-2">
              <div class="col-xs-12">
                <div class="row text-xs-left">
                  <div class="col-xs-12">
                    <h3>New Family Member</h3>
                  </div>
                </div>
                <div class="row text-xs-left">
                  <div class="col-xs-12">
                    <p>Have a new family member? Add them at the New Family Check In Desk</p>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-sm-6">
                    <fieldset class="form-group">
                      <input type="text" class="form-control form-control-lg" id="formGroupExampleInput" placeholder="First Name" [(ngModel)]="newContact.FirstName">
                    </fieldset>
                  </div>
                  <div class="col-sm-6">
                    <fieldset class="form-group">
                      <input type="text" class="form-control form-control-lg" id="formGroupExampleInput2" placeholder="Last Name" [(ngModel)]="newContact.LastName">
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group required text-xs-left">
                      <label for="guestChildBirthDate" class="control-label">Birth Date</label>
                      <br/>
                      <div class="row guest-datepicker">
                        <div class="col-xs-12">
                          <div class="col-md-5 col-sm-12 mb-1 wrapper">
                            <select class="form-control form-control-lg" id="dob-month" (change)="datePickerBlur()" [(ngModel)]="guestDOB.month">
                              <option disabled value="0">Month</option>
                              <option role="menuitem" *ngFor="let num of numberOfMonthsSelection" value="{{num}}">
                                {{num | monthName }}
                              </option>
                            </select>
                          </div>
                          <div class="col-md-3 col-sm-12 mb-1 wrapper">
                            <select class="form-control form-control-lg" id="dob-day" (change)="datePickerBlur()" [(ngModel)]="guestDOB.day">
                              <option disabled value="0">Day</option>
                              <option role="menuitem" *ngFor="let num of numberOfDaysSelection">
                                {{num}}
                              </option>
                            </select>
                          </div>
                          <div class="col-md-4 col-sm-12 mb-1 wrapper">
                            <select class="form-control form-control-lg" id="dob-year" (change)="datePickerBlur()" [(ngModel)]="guestDOB.year">
                              <option disabled value="0">Year</option>
                              <option role="menuitem" *ngFor="let num of yearsSelection">
                                {{num}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group required text-xs-left" *ngIf="needGradeLevel()">
                      <label for="childGrade" class="control-label">Year / Grade</label>
                      <select class="form-control form-control-lg" (change)="updateContactYearGradeGroup(newContact, $event.target.value)" required>
                        <option value="-1">Select a Grade</option>
                        <option value="0">Has not started Kindergarten yet</option>
                        <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group required text-xs-left">
                      <label for="childGrade" class="control-label">Gender</label>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="genderRadio" id="genderRadio1" value="{{maleGenderId}}" [checked]="newContact.isMale()" (change)="newContact.GenderId = maleGenderId">
                          Male
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="genderRadio" id="genderRadio2" value="{{femaleGenderId}}" [checked]="newContact.isFemale()" (change)="newContact.GenderId = femaleGenderId">
                          Female
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group required text-xs-left">
                      <label for="childGrade" class="control-label">Special Needs?</label>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="specialNeedsRadio" id="specialNeedsRadio1" value="1" [checked]="newContact.IsSpecialNeeds" (change)="newContact.IsSpecialNeeds = true">
                          Yes
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="specialNeedsRadio" id="specialNeedsRadio2" value="0" [checked]="!newContact.IsSpecialNeeds" (change)="newContact.IsSpecialNeeds = false">
                          No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="saveNewFamilyMember(newFamilyMemberModal)" [disabled]="processingAddFamilyMember">
          <span *ngIf="!processingAddFamilyMember">Add</span>
          <span *ngIf="processingAddFamilyMember">Adding...</span>
        </button>
      </div>
    </div>
  </div>
</div>
