@import '../../../assets/scss/_bootstrap.scss';
@import '../../../assets/scss/_variables.scss';

.card {
  color: $gray-dark;

  &.unchecked {
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.4);
    border-color: $gray-dark;
    opacity: .9;
  }

  a {
    color: $brand-dkblue;

    &:hover {
      text-decoration: none;
    }
  }
}

.round-plus {
  background: $brand-primary;
  border-radius: 50%;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  transition: background-color .3s ease-out;
  display: block;
  margin: 0 auto .5em;
}

a:hover {
  .round-plus {
    background: $brand-dkblue;
  }
}

.eqWrap {
	display: flex;
  flex-wrap: wrap;
  .card {
  	width: 32%;
  	margin: 1%;
  }
  .card:nth-of-type(3n) {
  	margin-right: 0;
  }
  .card:nth-of-type(3n+1) {
  	margin-left: 0;
  }
}
