/***************************************************************************************
* Typography
***************************************************************************************/
p {
  font-weight: $font-weight;
}
.btn-large {
  font-size: 1.75em;
  text-transform: uppercase;
}
/***************************************************************************************
* Layout
***************************************************************************************/
html {
  background-color: $brand-dkblue;
  overflow: hidden;
}
body {
  background-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.wrapper {

}
.header {
  background-color: $gray-lightest;
  // padding: 2vh 0;
  // height: 8vh;
}
.main {
  flex: 1;
  color: #fff;
  overflow: scroll;
  .card, .list-group {
    color: $body-color;
  }
}

.card-container {
  max-height: 72vh;
  overflow-y: scroll;
  position: relative;
}

.fade-out {
  width: 100%;
  background: transparent;
  @include gradient-vertical(rgba($brand-dkblue, 0), $brand-dkblue);
  height: 40px;
  margin-top: -40px;
  display: block;
  z-index: 2;
  position: relative;
}

.footer {
  width: 100%;
  color: #fff;

  @include media-breakpoint-down(xs) {
    .row {
      > div:first-of-type {
        margin-bottom: $half-spacing-unit;
      }
    }
  }
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  background: rgba(00,00,00,.2);

  .serving-question-cont {
    padding-top: .5rem;
  }
}

.logo {
  @include media-breakpoint-up(md) {
    height: 4.5em;
    width: 4.5em;
  }
  margin-bottom: -3em;
}

.num-pad-value {
  //
  // text-align: center;
  // background: none;
  // border: none;
  // vertical-align: bottom;
  // position: relative;
  // // letter-spacing: .1em;
  // width: 100%;
  //
  // &::placeholder {
  //   color: lighten($brand-dkblue, 10%);
  //   vertical-align: bottom;
  // }
  //
  // &:focus {
  //   outline: none;
  // }
}

.phone-input-group {
  @extend .display-4;

  input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px 0;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    z-index: 2;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  label {
		position: absolute;
		top: 30px;
		left: 0;
		color: $gray-lightest;
		font-weight: 300;
		transition: transform 0.2s ease, color 0.2s ease;
    vertical-align: bottom;
    font-size: 20px;
    z-index: 1;
    text-align: center;
    width: 100%;

    &:hover {
		  cursor: text;
    }
  }
}

.phone-input-group input:focus + label {
		color: $gray-light;
}

.phone-input-group input:focus + label,
.phone-input-group input.active + label {
		transform: translateY(-40px);
}

/***************************************************************************************
* General
***************************************************************************************/
.heading-highlight {
  background-color: transparentize($brand-blue, .5);
  display: inline-block;
  padding: .45em 1em;
}
.modal-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // min-height: 100vh;
  background-color: $brand-dkblue;
  z-index: 999;
  h1 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 2em;
  }
}
.list-group-or {
  transform: translateX(-0.5em);
  color: $gray-light;
  position: absolute;
}

.label {
  vertical-align: bottom;
  font-weight: normal;
}

.pointer {
  cursor: pointer;
}
