.tgl{
	display: none;
	// add default box-sizing for this scope
	&, &:after, &:before,
	& *, & *:after, & *:before,
	& + .tgl-btn{
		box-sizing: border-box;
		&::selection{
			background: none;
		}
	}
	+ .tgl-btn{
		outline: 0;
		width: 4em;
		height: 2em;
    margin: 0;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after, &:before{
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
		&:after{
			left: 0;
		}
		&:before{
			display: none;
		}
	}
	&:checked{
		+ .tgl-btn{
			&:after{
				left: 50%;
			}
		}
	}
}

// themes
.tgl-light{
	+ .tgl-btn{
		background: $brand-gray;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after{
			border-radius: 50%;
			background: #fff;
			transition: all .2s ease;
		}
	}
	&:checked{
		+ .tgl-btn{
			background: $brand-success;
		}
	}
}
.tgl-inline-label {
  position: relative;
  bottom: 0.7em;
}
