<td>
  <span class="pr-1" (click)="unBump()">&#9664;</span>
</td>
<td>{{room.EventRoomId}}</td>
<td>{{room.RoomId}}</td>
<td>Closed</td>
<td class="text-xs-right">
  <span>{{room.BumpingRulePriority}}</span>
  <span class="pr-1" (click)="bump()">&#9658;</span>
  <span class="pr-1" (click)="bumpUp()">&#9650;</span>
  <span class="pr-1" (click)="bumpDown()">&#9660;</span>
</td>

<!-- <td>{{room.EventRoomId}}</td>
<td>{{room.RoomId}}</td>
<td>Closed</td>
<td>{{room.BumpingRulePriority}}</td>
<td class="text-xs-right">
  <span class="pr-1">&#9650;</span>
  <span class="pr-1">&#9660;</span>
</td> -->
