<td [hidden]="isUnBumped()">
  <span class="clickable" (click)="unBump()">&#9664;</span>
</td>
<td class="name">{{room.RoomName}}</td>
<td>{{room.RoomNumber}}</td>
<td>
  <span [hidden]="room.AllowSignIn">Closed</span>
  <span [hidden]="!room.AllowSignIn">Open</span>
</td>
<td [hidden]="isUnBumped()">
  <span>{{room.BumpingRulePriority | oneBasedIndex}}</span>
</td>
<td>
  <span class="clickable bump" (click)="bump()" [hidden]="isBumped()">&#9658;</span>
  <span class="clickable bump-up" (click)="bumpUp()" [hidden]="isFirst() || isUnBumped()">&#8679;</span>
  <span class="clickable bump-down" (click)="bumpDown()" [hidden]="isLast() || isUnBumped()">&#8681;</span>
</td>
