<header-event></header-event>

<div class="wrapper rooms">
  <div class="container-fluid admin-content py-1">
    <div class="row">
      <div class="col-sm-8">
        <h3>Manage Room</h3>
      </div>
      <div class="col-sm-4 text-sm-right pb-1">
        <div>
          <a (click)=goBack() class="pointer">
            <span class="icon">
              <svg height="20px" version="1.1" viewBox="0 0 16 16" width="20px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g fill="none" fill-rule="evenodd" id="Icons with numbers" stroke="none" stroke-width="1"><g id="Group" transform="translate(-96.000000, -144.000000)">
                  <path d="M103,150 L109,150 L109,154 L103,154 L103,156 L98,152 L103,148 L103,150 L103,150 Z M112,152 C112,147.5 108.5,144 104,144 C99.5,144 96,147.5 96,152 C96,156.5 99.5,160 104,160 C108.5,160 112,156.5 112,152 L112,152 Z M112,152" id="Shape"/>
                </g>
              </g>
              </svg>
            </span>
            Back to Manage Rooms
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <strong class="col-sm-4 col-md-3">Age Ranges</strong>
          <span class="col-sm-8 col-md-9">{{getRoom().getSelectionDescription()}}</span>
          <strong class="col-sm-4 col-md-3">Room Number</strong>
          <span class="col-sm-8 col-md-9">{{getRoom().getRoomNumber()}}</span>
        </div>

      </div>
      <div class="col-sm-6 text-sm-right">
        <div class="float-sm-right">
          <span class="float-xs-right adventure-club-toggle">
            <input class='tgl tgl-light' id='isAdventureClub' type='checkbox' [(ngModel)]="isAdventureClub" (change)="toggleAdventureClub($event)">
            <label class='tgl-btn' for='isAdventureClub'><span class="tgl-yes">Yes</span><span class="tgl-no">No</span></label>
          </span>
          <strong class="float-sm-right adventure-club-toggle-label">
            Set as Adventure Club
          </strong>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <tabset class="col-xs-12">
        <tab heading='Age Ranges' [active]="!alternateRoomsSelected">
          <preloader *ngIf="!isReady()"></preloader>
          <div class="row mt-1" *ngIf="isReady()">
            <div class="col-xs-12 mb-1">
              <p class="mb-0">
                Select ages for this room. Within each age group, the room assigned is determined by the birth month of the child as indicated below.
              </p>
            </div>
            <div class="col-xs-12">
              <table class="table groups months">
                <thead>
                  <th>Ages</th>
                  <th><span class="pr-3">Select All</span><span>Months</span></th>
                </thead>
                <tbody>
                  <tr *ngFor="let g of getGroups() | slice:0:6" class="group" [group]="g" [eventToUpdate]="eventToUpdate" [roomId]="roomId" [room]="room"></tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 mt-1 mb-1">
              <span>
                <b>Grades</b> (All Months Automatically Assigned)
              </span>
            </div>
            <div class="col-xs-12">
              <table class="table groups all">
                <tbody>
                  <tr *ngFor="let g of getGroups() | slice:6" class="group" [group]="g" [eventToUpdate]="eventToUpdate" [roomId]="roomId" [room]="room"></tr>
                </tbody>
              </table>
            </div>
          </div>
        </tab>
        <tab heading='Alternate Rooms' [active]="alternateRoomsSelected">
          <alternate-rooms></alternate-rooms>
        </tab>
      </tabset>
    </div>
  </div>
</div>
