<preloader *ngIf="!isReady" [fullscreen]="true"></preloader>

<div>
  <router-outlet></router-outlet>
</div>

<div class="container-fluid mt-3">

  <div class="row">
    <div class="container-fluid col-md-8 offset-md-2 my-1">
      <!--DEVNOTE: create an input mask that appears as user types https://igorescobar.github.io/jQuery-Mask-Plugin/ -->
      <input type="tel" class="num-pad-value col-xs-12 text-white heading-highlight"
        readonly placeholder="Enter your phone number to check in your kids."
        value="{{phoneNumber | phoneNumber}}">
    </div>

    <div class="container-fluid col-md-8 offset-md-2">
      <number-pad (addNumber)="setPhoneNumber($event)" (deleteNumber)="delete($event)" (clearNumber)="clear($event)"></number-pad>
      <div class="my-3">
        <div class="row">
          <div class="col-sm-9 text-xs-left text-white new-family-text pb-1">
            <div class="new-family-text">
              <h3 class="mb-0">First time here?</h3>
              <p>
                Visit the new family check-in desk!
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <a class="btn btn-primary btn-lg float-xs-right text-white btn-block search-next-btn" (click)="next()">Next
              <svg height="12" viewBox="0 0 9 12" width="9" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 0l-1.4 1.4 4.6 4.6-4.6 4.6 1.4 1.4 6-6-6-6z" /></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
