<header-event></header-event>

<preloader *ngIf="!isReady()"></preloader>
<div class="wrapper" *ngIf="isReady()">
  <div class="container admin-content py-1">
    <div class="row">
      <div class="card col-xs-6 offset-xs-3">
        <div class="card-block text-xs-center" *ngIf="targetEvent">
          <h3 class="card-title">Clear Event Data</h3>
          <p class="card-text">Warning: This will clear event data for the following event:</p>
          <p class="card-text">
            <strong>
              {{targetEvent.EventSite}} {{targetEvent.EventStartDate | amDateFormat :'dddd'}} {{targetEvent.EventStartDate | amDateFormat :'M/D/YYYY'}} {{targetEvent.EventStartDate | amDateFormat :'h:mma'}}
            </strong>
          </p>
          <button class="btn btn-danger mt-2" (click)="clearEvent()">Clear All Event Data</button>
        </div>
      </div>
    </div>
  </div>
</div>
