<div class="wrapper child-signin-wrapper">

  <header class="header py-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <ul class="stepper list-unstyled hidden-xs-down" *ngIf="!inRoom()">
            <li [class.current]="activeStep1()" class="step-item" ><b class="arrow-space"></b><b class="arrow-bg"></b><span class="px-1"><span class="hidden-md-down">Step </span>1</span></li>
            <li [class.current]="activeStep2()" class="step-item"><b class="arrow-space"></b><b class="arrow-bg"></b><span class="p-l-2 p-r-1"><span class="hidden-md-down">Step </span>2</span></li>
            <li [class.current]="activeStep3()" class="step-item"><span class="p-l-2 p-r-2"><span class="hidden-md-down">Step </span>3</span></li>
          </ul>
          <div class="in-room-meta" *ngIf="inRoom()">
            <h5 class="mb-0">
              Ones Room B (K120) • Capacity: 17
            </h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 text-xs-center">
          <a [routerLink]="['/']" title="Home" class="hidden-xs-down" >
              <svg class="logo" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <path d="M22.414 0C10.037 0 0 10.034 0 22.42 0 34.8 10.037 44.843 22.414 44.843c12.38 0 22.425-10.042 22.425-22.425C44.84 10.033 34.792 0 22.412 0zm-.08 27.03l-7.856 7.863-4.69-4.702 7.85-7.853L9.91 14.61l4.695-4.707 7.73 7.734 7.85-7.852 4.7 4.7-7.844 7.85 8.015 8.023-4.702 4.702-8.018-8.03z" fill="#B05C30"/>
                  <path fill="#FFF" d="M22.334 27.03l-7.856 7.863-4.69-4.702 7.85-7.853L9.91 14.61l4.695-4.707 7.73 7.734 7.85-7.852 4.7 4.7-7.844 7.85 8.015 8.023-4.702 4.702"/>
                </g>
              </svg>

          </a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <ul class="stepper list-unstyled">
            <li class="step-item step-single px-1 float-xs-right">4/22/2016 &#x000B7; 5:45pm</li>
          </ul>
        </div>
      </div>

    </div>
  </header>

  <div class="main text-xs-center">
    <router-outlet></router-outlet>
  </div><!--/main-->
</div>
