<header-event></header-event>

<div class="wrapper rooms">
  <div class="container-fluid admin-content py-1">
    <div class="row">
      <div class="col-sm-8">
        <h1>Manage Room</h1>
      </div>
      <div class="col-sm-4 text-sm-right pb-1">
        <div>
          <a (click)=goBack()>
            <span class="icon icon-large">
              <svg height="20px" version="1.1" viewBox="0 0 16 16" width="20px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g fill="none" fill-rule="evenodd" id="Icons with numbers" stroke="none" stroke-width="1"><g id="Group" transform="translate(-96.000000, -144.000000)">
                  <path d="M103,150 L109,150 L109,154 L103,154 L103,156 L98,152 L103,148 L103,150 L103,150 Z M112,152 C112,147.5 108.5,144 104,144 C99.5,144 96,147.5 96,152 C96,156.5 99.5,160 104,160 C108.5,160 112,156.5 112,152 L112,152 Z M112,152" id="Shape"/>
                </g>
              </g>
              </svg>
            </span>
            Back to Manage Rooms
          </a>
        </div>
      </div>
      <div class="col-sm-12 lead">
        <div class="row">
          <strong class="col-sm-4 col-md-2">Age Ranges</strong>
          <span class="col-sm-8 col-md-10">{{getRoom().getSelectionDescription()}}</span>
        </div>
        <div class="row">
          <strong class="col-sm-4 col-md-2">Room Number</strong>
          <span class="col-sm-8 col-md-10">{{getRoom().getRoomNumber()}}</span>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <tabset class="col-xs-12">
        <tab heading='Age Ranges' [active]="!alternateRoomsSelected">
          <div class="row mt-1">
            <div class="col-xs-12 lead mb-1">
              <p class="lead">
                Select ages for this room. Within each age group, the room assigned is determined by the birth month of the child as indicated below.
              </p>
            </div>
            <div class="col-xs-12">
              <table class="table groups months">
                <thead>
                  <th>Ages</th>
                  <th><span class="pr-3">Select All</span><span>Months</span></th>
                </thead>
                <tbody>
                  <tr *ngFor="let g of getGroups() | slice:0:6" class="group" [group]="g" [eventId]="eventId" [roomId]="roomId" [room]="room"></tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 lead mt-1 mb-1">
              <span>
                <b>Grades</b> (All Months Automatically Assigned)
              </span>
            </div>
            <div class="col-xs-12">
              <table class="table groups all">
                <tbody>
                  <tr *ngFor="let g of getGroups() | slice:6" class="group" [group]="g" [eventId]="eventId" [roomId]="roomId" [room]="room"></tr>
                </tbody>
              </table>
            </div>
          </div>
        </tab>
        <tab heading='Alternate Rooms' [active]="alternateRoomsSelected">
          <div class="row mt-1">
            <div class="col-xs-12">
              <p class="lead">
                Alternate rooms that are activated will be assigned if the current room is full or if the current room is closed.
              </p>
              <form class="form-inline">
                <div class="form-group mb-1">
                  <label><strong>Open rooms by</strong></label>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      Priority
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" disabled>
                      Vacancy
                    </label>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-xs-12 col-sm-6 mb-1">
                  <div class="gray-lighter table-bumping-wrapper">
                    <h5>Available Rooms</h5>
                    <p class="mb-0">
                      &nbsp;
                    </p>
                    <table class="table white table-hover table-bumping-wrapper">
                      <thead>
                        <tr class="gray-lighter">
                          <th>Room Name</th>
                          <th>Room No.</th>
                          <th>Open/<br />Closed</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let room of availableRooms" class="room-bump" [room]="room"></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 mb-1">
                  <div class="gray-lighter table-bumping-wrapper">
                    <h5>Alternate Rooms</h5>
                    <p class="mb-0">
                      Use the up/down arrows to rank the rooms in order of priority.
                    </p>
                    <table class="table white table-hover table-bumping">
                      <thead>
                        <tr class="gray-lighter">
                          <th>Room Name</th>
                          <th>Room No.</th>
                          <th>Open/<br />Closed</th>
                          <th>Priority</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor="let room of bumpingRooms">
                          <td>{{room.EventRoomId}}</td>
                          <td>{{room.RoomId}}</td>
                          <td>Closed</td>
                          <td>{{room.BumpingRulePriority}}</td>
                          <td class="text-xs-right">
                            <span class="pr-1">&#9650;</span>
                            <span class="pr-1">&#9660;</span>
                          </td>
                        </tr> -->
                        <tr *ngFor="let room of availableRooms" class="room-bump" [room]="room"></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
