<td><a routerLink="/admin/events/{{room.EventId}}/rooms/{{room.RoomId}}">Add</a></td>
<td>{{room.RoomName}}</td>
<td [formGroup]="roomForm">
  <input class='tgl tgl-light' id='allow-signin-{{room.RoomId}}' type='checkbox' (change)="toggle('AllowSignIn')" [checked]="room.AllowSignIn" formControlName="AllowSignIn">
  <label class='tgl-btn' attr.for='allow-signin-{{room.RoomId}}' (click)="toggleClick()" [ngClass]="{'disabled': pending }"><span class="tgl-yes">Yes</span><span class="tgl-no">No</span></label>
</td>
<td [formGroup]="roomForm">
  <div class="number-stepper">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="remove('Volunteers')" [disabled]="pending">-</button>
      </span>
      <input type="number" class="form-control text-xs-center" value="{{room.Volunteers}}" formControlName="Volunteers" readonly>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="add('Volunteers')" [disabled]="pending">+</button>
      </span>
    </div>
  </div>
</td>
<td [formGroup]="roomForm">
  <div class="number-stepper">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="remove('Capacity')" [disabled]="pending">-</button>
      </span>
      <input type="number" class="form-control text-xs-center" value="{{room.Capacity}}" formControlName="Capacity" readonly>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="add('Capacity')" [disabled]="pending">+</button>
      </span>
    </div>
  </div>
</td>
<td>{{room.SignedIn}}</td>
<td>{{room.CheckedIn}}</td>
<td>-</td>
<td class="text-xs-right">
  <a class="btn btn-primary btn-sm" routerLink="/admin/events/{{room.EventId}}/rooms/{{room.RoomId}}" [queryParams]="{ tab: 'alternate-rooms' }">Alt Rooms</a>
</td>
