@import '../../../assets/scss/_variables.scss';

table.groups.months {
  tr {
    &:nth-of-type(1), &:nth-of-type(6)  {
      border-bottom: 3px solid darken($table-border-color, 5%);
    }
  }
}

.table-bumping {
  td,
  th {
    padding: .75rem 0.3rem;
  }
}

.table-bumping-wrapper {
  padding: 1rem .3rem;
}
