<header-event></header-event>

<div class="wrapper rooms">
  <div class="container-fluid admin-content py-1">
    <div class="row">
      <div class="col-sm-8">
        <h1>Manage Room</h1>
      </div>
      <div class="col-sm-4 text-sm-right pb-1">
        <div>
          <a (click)=goBack() href="#">
            <span class="icon icon-large">
              <svg height="20px" version="1.1" viewBox="0 0 16 16" width="20px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g fill="none" fill-rule="evenodd" id="Icons with numbers" stroke="none" stroke-width="1"><g id="Group" transform="translate(-96.000000, -144.000000)">
                  <path d="M103,150 L109,150 L109,154 L103,154 L103,156 L98,152 L103,148 L103,150 L103,150 Z M112,152 C112,147.5 108.5,144 104,144 C99.5,144 96,147.5 96,152 C96,156.5 99.5,160 104,160 C108.5,160 112,156.5 112,152 L112,152 Z M112,152" id="Shape"/>
                </g>
              </g>
              </svg>
            </span>
            Back to Manage Rooms
          </a>
        </div>
      </div>
      <div class="col-sm-12 lead">
        <div class="row">
          <strong class="col-sm-4 col-md-2">Age Ranges</strong>
          <span class="col-sm-8 col-md-10">{{getRoom().getSelectionDescription()}}</span>
        </div>
        <div class="row">
          <strong class="col-sm-4 col-md-2">Room Number</strong>
          <span class="col-sm-8 col-md-10">{{getRoom().getRoomNumber()}}</span>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <tabset class="col-xs-12">
        <tab heading='Age Ranges'>
          <div class="row mt-1">
            <div class="col-xs-12 lead mb-1">
              <p class="lead">
                Select ages for this room. Within each age group, the room assigned is determined by the birth month of the child as indicated below.
              </p>
            </div>
            <div class="col-xs-12">
              <table class="table groups months">
                <thead>
                  <th>Ages</th>
                  <th><span class="pr-3">Select All</span><span>Months</span></th>
                </thead>
                <tbody>
                  <tr *ngFor="let g of getGroups() | slice:0:6" class="group" [group]="g" [eventId]="eventId" [roomId]="roomId" [room]="room"></tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 lead mt-1 mb-1">
              <span>
                <b>Grades</b> (All Months Automatically Assigned)
              </span>
            </div>
            <div class="col-xs-12">
              <table class="table groups all">
                <tbody>
                  <tr *ngFor="let g of getGroups() | slice:6" class="group" [group]="g" [eventId]="eventId" [roomId]="roomId" [room]="room"></tr>
                </tbody>
              </table>
            </div>
          </div>
        </tab>
        <tab heading='Alternate Rooms'>
          <div class="row mt-1">
            <div class="col-xs-12">
              <p class="lead">
                Alternate rooms that are activated will be assigned if the current room is full or if the current room is closed.
              </p>
              <form class="form-inline">
                <div class="form-group mb-1">
                  <label><strong>Open rooms by</strong></label>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      Priority
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      Vacancy
                    </label>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-xs-12 col-sm-6 mb-1">
                  <div class="gray-lighter py-1 px-1">
                    <h5>Available Rooms</h5>
                    <p class="mb-0">
                      &nbsp;
                    </p>
                    <table class="table white table-hover table-bumping">
                      <thead>
                        <tr class="gray-lighter">
                          <th>Room Name</th>
                          <th>Room No.</th>
                          <th>Open/Closed</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Nursery B</td>
                          <td>K116</td>
                          <td>Closed</td>
                          <td class="text-xs-right"><span class="pr-1">&#9658;</span></td>
                        </tr>
                        <tr>
                          <td>Nursery B</td>
                          <td>K116</td>
                          <td>Closed</td>
                          <td class="text-xs-right"><span class="pr-1">&#9658;</span></td>
                        </tr>
                        <tr>
                          <td>Nursery B</td>
                          <td>K116</td>
                          <td>Closed</td>
                          <td class="text-xs-right"><span class="pr-1">&#9658;</span></td>
                        </tr>
                        <tr>
                          <td>Nursery B</td>
                          <td>K116</td>
                          <td>Closed</td>
                          <td class="text-xs-right"><span class="pr-1">&#9658;</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div><!--/col-xs-6-->
                <div class="col-xs-12 col-sm-6 mb-1">
                  <div class="gray-lighter py-1 px-1">
                    <h5>Alternate Rooms</h5>
                    <p class="mb-0">
                      Use the up/down arrows to rank the rooms in order of priority.
                    </p>
                    <table class="table white table-hover table-bumping">
                      <thead>
                        <tr class="gray-lighter">
                          <th></th>
                          <th>Room Name</th>
                          <th>Room No.</th>
                          <th>Open/Closed</th>
                          <th>Priority</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="pl-1">&#9668;</span></td>
                          <td>Nursery B</td>
                          <td>K116</td>
                          <td>Closed</td>
                          <td>1</td>
                          <td class="text-xs-center"></td>
                          <td class="text-xs-center">
                            <span class="icon-large">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                                <g></g><path d="M20 16.571q0 0.214-0.179 0.429l-5.696 5.696q-0.196 0.161-0.411 0.161t-0.411-0.161l-5.714-5.714q-0.268-0.286-0.125-0.625 0.143-0.357 0.536-0.357h3.429v-6.286q0-0.25 0.161-0.411t0.411-0.161h3.429q0.25 0 0.411 0.161t0.161 0.411v6.286h3.429q0.25 0 0.411 0.161t0.161 0.411zM13.714 6.286q-2.643 0-4.875 1.304t-3.536 3.536-1.304 4.875 1.304 4.875 3.536 3.536 4.875 1.304 4.875-1.304 3.536-3.536 1.304-4.875-1.304-4.875-3.536-3.536-4.875-1.304zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z" fill="#000000" />
                              </svg>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="pl-1">&#9668;</span></td>
                          <td>Nursery B</td>
                          <td>K116</td>
                          <td>Closed</td>
                          <td>2</td>
                          <td class="text-xs-center">
                            <span class="icon-large">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                                <g></g>
                            	  <path d="M19.964 15.643q-0.143 0.357-0.536 0.357h-3.429v6.286q0 0.25-0.161 0.411t-0.411 0.161h-3.429q-0.25 0-0.411-0.161t-0.161-0.411v-6.286h-3.429q-0.25 0-0.411-0.161t-0.161-0.411q0-0.214 0.179-0.429l5.696-5.696q0.196-0.161 0.411-0.161t0.411 0.161l5.714 5.714q0.268 0.286 0.125 0.625zM13.714 6.286q-2.643 0-4.875 1.304t-3.536 3.536-1.304 4.875 1.304 4.875 3.536 3.536 4.875 1.304 4.875-1.304 3.536-3.536 1.304-4.875-1.304-4.875-3.536-3.536-4.875-1.304zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z" fill="#000000" />
                              </svg>
                            </span>
                          </td>
                          <td class="text-xs-center">
                            <span class="icon-large">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                                <g></g><path d="M20 16.571q0 0.214-0.179 0.429l-5.696 5.696q-0.196 0.161-0.411 0.161t-0.411-0.161l-5.714-5.714q-0.268-0.286-0.125-0.625 0.143-0.357 0.536-0.357h3.429v-6.286q0-0.25 0.161-0.411t0.411-0.161h3.429q0.25 0 0.411 0.161t0.161 0.411v6.286h3.429q0.25 0 0.411 0.161t0.161 0.411zM13.714 6.286q-2.643 0-4.875 1.304t-3.536 3.536-1.304 4.875 1.304 4.875 3.536 3.536 4.875 1.304 4.875-1.304 3.536-3.536 1.304-4.875-1.304-4.875-3.536-3.536-4.875-1.304zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z" fill="#000000" />
                              </svg>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="pl-1">&#9668;</span></td>
                          <td>Nursery B</td>
                          <td>K116</td>
                          <td>Closed</td>
                          <td>3</td>
                          <td class="text-xs-center">
                            <span class="icon-large">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                                <g></g>
                            	  <path d="M19.964 15.643q-0.143 0.357-0.536 0.357h-3.429v6.286q0 0.25-0.161 0.411t-0.411 0.161h-3.429q-0.25 0-0.411-0.161t-0.161-0.411v-6.286h-3.429q-0.25 0-0.411-0.161t-0.161-0.411q0-0.214 0.179-0.429l5.696-5.696q0.196-0.161 0.411-0.161t0.411 0.161l5.714 5.714q0.268 0.286 0.125 0.625zM13.714 6.286q-2.643 0-4.875 1.304t-3.536 3.536-1.304 4.875 1.304 4.875 3.536 3.536 4.875 1.304 4.875-1.304 3.536-3.536 1.304-4.875-1.304-4.875-3.536-3.536-4.875-1.304zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z" fill="#000000" />
                              </svg>
                            </span>
                          </td>
                          <td class="text-xs-center">
                            <span class="icon-large">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                                <g></g><path d="M20 16.571q0 0.214-0.179 0.429l-5.696 5.696q-0.196 0.161-0.411 0.161t-0.411-0.161l-5.714-5.714q-0.268-0.286-0.125-0.625 0.143-0.357 0.536-0.357h3.429v-6.286q0-0.25 0.161-0.411t0.411-0.161h3.429q0.25 0 0.411 0.161t0.161 0.411v6.286h3.429q0.25 0 0.411 0.161t0.161 0.411zM13.714 6.286q-2.643 0-4.875 1.304t-3.536 3.536-1.304 4.875 1.304 4.875 3.536 3.536 4.875 1.304 4.875-1.304 3.536-3.536 1.304-4.875-1.304-4.875-3.536-3.536-4.875-1.304zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z" fill="#000000" />
                              </svg>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="pl-1">&#9668;</span></td>
                          <td>Nursery B</td>
                          <td>K116</td>
                          <td>Closed</td>
                          <td>4</td>
                          <td class="text-xs-center">
                            <span class="icon-large">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                                <g></g>
                            	  <path d="M19.964 15.643q-0.143 0.357-0.536 0.357h-3.429v6.286q0 0.25-0.161 0.411t-0.411 0.161h-3.429q-0.25 0-0.411-0.161t-0.161-0.411v-6.286h-3.429q-0.25 0-0.411-0.161t-0.161-0.411q0-0.214 0.179-0.429l5.696-5.696q0.196-0.161 0.411-0.161t0.411 0.161l5.714 5.714q0.268 0.286 0.125 0.625zM13.714 6.286q-2.643 0-4.875 1.304t-3.536 3.536-1.304 4.875 1.304 4.875 3.536 3.536 4.875 1.304 4.875-1.304 3.536-3.536 1.304-4.875-1.304-4.875-3.536-3.536-4.875-1.304zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z" fill="#000000" />
                              </svg>
                            </span>
                          </td>
                          <td class="text-xs-center"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!--/row-->

              <div class="mt-1">
                <a (click)=goBack() href="#">
                  <span class="icon icon-large">
                    <svg height="20px" version="1.1" viewBox="0 0 16 16" width="20px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g fill="none" fill-rule="evenodd" id="Icons with numbers" stroke="none" stroke-width="1"><g id="Group" transform="translate(-96.000000, -144.000000)">
                        <path d="M103,150 L109,150 L109,154 L103,154 L103,156 L98,152 L103,148 L103,150 L103,150 Z M112,152 C112,147.5 108.5,144 104,144 C99.5,144 96,147.5 96,152 C96,156.5 99.5,160 104,160 C108.5,160 112,156.5 112,152 L112,152 Z M112,152" id="Shape"/>
                      </g>
                    </g>
                    </svg>
                  </span>
                  Back to Manage Rooms
                </a>
              </div>
            </div>
          </div><!--/row-->
        </tab>
      </tabset>
    </div>
  </div>
</div>
