<td><a routerLink="/admin/events/{{EventId}}/rooms/{{RoomId}}">Add</a></td>
<td>{{r.RoomName}}</td>
<td>
  <input class='tgl tgl-light' id='allow-signin-{{i}}' type='checkbox' (change)="toggleAllowSignin(room)" [checked]="AllowSignIn">
  <label class='tgl-btn' attr.for='allow-signin-{{i}}' ><span class="tgl-yes">Yes</span><span class="tgl-no">No</span></label>
</td>
<td>
  <div class="number-stepper">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="removeVolunteer(room)">-</button>
      </span>
      <input type="text" class="form-control text-xs-center" value="{{Volunteers}}">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="addVolunteer(room)">+</button>
      </span>
    </div>
  </div>
</td>
<td>
  <div class="number-stepper">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="removeCapacity(room)">-</button>
      </span>
      <input type="text" class="form-control text-xs-center" value="{{Capacity}}">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="addCapacity(room)">+</button>
      </span>
    </div>
  </div>
</td>
<td>{{SignedIn}}</td>
<td>{{CheckedIn}}</td>
<td>-</td>
<td class="text-xs-right"><a class="btn btn-primary btn-sm">Alt Rooms</a></td>
