<header-event></header-event>

<div class="wrapper events">
  <div class="container-fluid admin-content py-1">
    <div class="row">
      <div class="col-sm-12 mb-2">
        <h3>Events</h3>
        <h4>{{currentWeekFilter.start | amDateFormat :'dddd, MMMM Do'}} - {{currentWeekFilter.end | amDateFormat :'dddd, MMMM Do'}}</h4>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12" *ngIf="!isReady()">
        <preloader></preloader>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12" *ngIf="isReady()">
        <table class="table table-striped" *ngIf="events">
          <thead>
            <tr>
              <th>Event Type</th>
              <th>Day</th>
              <th>Date</th>
              <th>Time</th>
              <th>Site</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
              <td>{{event.type}}</td>
              <td>{{event.EventStartDate | amDateFormat :'dddd'}}</td>
              <td>{{event.EventStartDate | amDateFormat :'M/D/YYYY'}}</td>
              <td>{{event.EventStartDate | amDateFormat :'h:mma'}}</td>
              <td>{{event.EventSite}}</td>
              <td class="text-xs-right">
                <a routerLink="/admin/events/{{event.EventId}}/rooms" class="btn btn-primary btn-sm">View</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-xs-center py-2" *ngIf="!events || !events.length">
          No Events
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <section class="sidebar-section mb-2">
          <select class="form-control" [(ngModel)]="currentWeekFilterId">
            <option *ngFor="let wf of weekFilters" value="{{wf.id}}" [attr.selected]="currentWeekFilterId === wf.id">
            <!-- <option *ngFor="let wf of weekFilters" value="{{wf.id}}" [attr.selected]="isWeekFilterSelected(wf)"> -->
              {{wf.start | amDateFormat :'M/D/YYYY'}} - {{wf.end | amDateFormat :'M/D/YYYY'}}
            </option>
          </select>
        </section>
        <section class="sidebar-section site-filter">
          <select class="form-control" [(ngModel)]="selectedSiteId">
            <option *ngFor="let s of allSites" value="{{s.CongregationId}}" [attr.selected]="selectedSiteId == s.CongregationId">
              {{s.CongregationName}}
            </option>
          </select>
        </section>
      </div>
    </div>
  </div>
</div>
