<header-event></header-event>

<div class="wrapper">
  <div class="container-fluid mb-3">
    <preloader *ngIf="loading"></preloader>
    <form (ngSubmit)="onSubmit(updateFamilyForm)" #updateFamilyForm="ngForm"  *ngIf="!loading">
      <div class="container mb-3">

        <div class="row">
          <div class="col-sm-12 my-2">
            <h3>Household Info: {{ household.HouseholdName }}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="firstName" class="control-label">Street</label>
              <input type="text" class="form-control" name="addressLine1" [(ngModel)]="household.AddressLine1" #addressLine1="ngModel" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="lastName" class="control-label">Street 2</label>
              <input type="text" class="form-control" name="addressLine2" [(ngModel)]="household.AddressLine2" #addressLine2="ngModel">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="firstName" class="control-label">City</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="household.City" #city="ngModel" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="lastName" class="control-label">State</label>
              <select class="form-control" (change)="updateState($event.target.value)" required>
                <option value="">Select a State</option>
                <option *ngFor="let state of states;" value="{{state.StateAbbreviation}}" [selected]="state.StateAbbreviation === household.State">{{ state.StateName }}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="firstName" class="control-label">Zip</label>
              <input type="text" class="form-control" name="zipCode" [(ngModel)]="household.ZipCode" #zipCode="ngModel" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="lastName" class="control-label">County</label>
              <input type="text" class="form-control" name="county" [(ngModel)]="household.County" #county="ngModel">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="firstName" class="control-label">Country</label>
              <select class="form-control" (change)="updateCountry($event.target.value)" required>
                <option>Select a Country</option>
                <option *ngFor="let country of countries;" value="{{country.Code3}}" [selected]="country.Code3 === household.CountryCode">{{ country.Country }}</option>
              </select>            </div>
          </div>
        </div>

        <div class="row">
          &nbsp;
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="homePhone" class="control-label">Home Phone</label>
              <input type="text" class="form-control" [textMask]="{mask: maskPhoneNumber}" name="homePhone"
                [(ngModel)]="household.HomePhone" #homePhone="ngModel"
                (blur)="onPhoneBlur($event, household)" required>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-xs-12 mb-3">
            <section *ngIf="!isNewFamily">
              <div class="float-sm-left">
                <button type="button" class="btn btn-secondary" [disabled]="processing" [routerLink]="['/admin/events', eventId, 'family-finder']">Cancel</button>
              </div>
              <div class="float-sm-right">
                <button type="button" class="btn btn-info float-xs-right" [disabled]="processing || updateFamilyForm.pristine" (click)="onSave(updateFamilyForm)">Save and View Children</button>
                <button type="submit" style="margin-right: 8px;" class="btn btn-primary float-xs-right" [disabled]="processing || updateFamilyForm.pristine" >Save</button>
              </div>
            </section>
            <section *ngIf="isNewFamily">
              <div class="float-sm-right">
                <button type="submit" class="btn btn-info float-xs-right" [disabled]="processing || updateFamilyForm.pristine" (click)="onSave(updateFamilyForm)">Save</button>
                <button type="button" class="btn btn-primary float-xs-right mr-1" [disabled]="processing" (click)="onSkip()">Skip</button>
              </div>
            </section>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
