<header-event></header-event>

<div class="wrapper">
  <div class="container-fluid mb-3">
    <preloader *ngIf="loading"></preloader>
    <form (ngSubmit)="onSubmit(updateFamilyForm)" #updateFamilyForm="ngForm"  *ngIf="!loading">
      <div class="container mb-3">

        <div class="row">
          <div class="col-sm-12 my-2">
            <h3>Household Info: {{ household.HouseholdName }}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="firstName" class="control-label">Street</label>
              <input type="text" class="form-control" name="addressLine1" [(ngModel)]="household.AddressId.AddressLine1" #addressLine1="ngModel" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="lastName" class="control-label">Street 2</label>
              <input type="text" class="form-control" name="addressLine2" [(ngModel)]="household.AddressId.AddressLine2" #addressLine2="ngModel">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="firstName" class="control-label">City</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="household.AddressId.City" #city="ngModel" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="lastName" class="control-label">State</label>
              <select class="form-control" (change)="updateState($event.target.value)" required>
                <option value="">Select a State</option>
                <option *ngFor="let state of states;" value="{{state.StateAbbreviation}}" [selected]="state.StateAbbreviation === household.AddressId.State">{{ state.StateName }}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="firstName" class="control-label">Zip</label>
              <input type="text" class="form-control" name="zipCode" [(ngModel)]="household.AddressId.ZipCode" #zipCode="ngModel" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="lastName" class="control-label">County</label>
              <input type="text" class="form-control" name="county" [(ngModel)]="household.AddressId.County" #county="ngModel">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="firstName" class="control-label">Country</label>
              <select class="form-control" (change)="updateCountry($event.target.value)" required>
                <option value="">Select a Country</option>
                <option *ngFor="let country of countries;" value="{{country.Code3}}" [selected]="country.Code3 === household.AddressId.CountryCode">{{ country.Country }}</option>
              </select>            </div>
          </div>
        </div>

        <div class="row">
          &nbsp;
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group required">
              <label for="homePhone" class="control-label">Home Phone</label>
              <input type="text" class="form-control" [textMask]="{mask: maskPhoneNumber}" name="homePhone"
                [(ngModel)]="household.HomePhone" #homePhone="ngModel"
                (blur)="onPhoneBlur($event, household)" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 mb-3">
            <div class="float-sm-left">
              <a class="btn btn-default btn-sm" [routerLink]="['search']">Cancel</a>
            </div>
            <div class="float-sm-right">
              <loading-button buttonType="submit" buttonClasses="btn btn-info float-xs-right save" normalText="Save and View Children" loadingText="Saving..." [loading]="processing"></loading-button>
              <loading-button buttonType="submit" buttonClasses="btn btn-primary float-xs-right" normalText="Save" loadingText="Saving..." [loading]="processing"></loading-button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>