<!-- <header-event></header-event> -->

<div class="wrapper new-family-registration">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 mb-2">
        <h1>New Family Registration</h1>
      </div><!--/col-sm-12-->

      <form>
        <div class="col-xs-12 mb-2">
          <h4>Parent/Guardian Info</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">First Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">Last Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">Phone Number</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">Number of Children</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 mb-2">
          <h4>Child 2</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">First Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">Last Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">Year / Grade</label>
                <select class="form-control">
                  <option></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 mb-2">
          <h4>Child 1</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">First Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">Last Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="formGroupExampleInput" class="control-label">Year / Grade</label>
                <select class="form-control">
                  <option></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="float-sm-right mb-3">
            <button type="button" class="btn btn-primary">Sign In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
