@import '../../assets/scss/_variables.scss';

admin {
  .navbar {
    border-radius: 0px;

    .nav-link {
      padding-top: .55rem;
    }

    &.subnav {
      border-top: 1px solid #eceeef; // Replace with $gray-lighter
      border-bottom: 1px solid #eceeef; // Replace with $gray-lighter
    }
  }

  .icon {
    vertical-align: top;

    g {
      fill: #748FA2;
    }
  }

  .btn-primary {
    background: $brand-primary;
  }

  a:hover {
    .icon {
      g {
        fill: #516879;
      }
    }
  }
}

.admin-logo {
  height: 1.5em;
  width: 1.5em;
  float: left;
  margin-right: .5rem;
}

.admin-content {
  background: #fff;
}

.btn-primary {
  &:not([href]):not([tabindex]) {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.gray-lighter {
  background: $gray-lighter;
}

.white {
  background: #fff;
}

.btn-unstyled {
  padding: 0;
  background: transparent;
}

.btn-unstyled.dropdown-toggle::after {
  display: none;
}

.gear-dropdown {
  .dropdown-menu-right {
    right: 1rem;
  }
}

.well-sm {
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
}

datepicker {
  .pull-right {
    float: right;
  }

  .glyphicon.glyphicon-chevron-left:after {
    content: "<";
  }

  .glyphicon.glyphicon-chevron-right:after {
    content: ">";
  }

  .btn-default {
    color: $btn-secondary-color;
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-border;
    border-radius: 0.15rem;

    &:hover {
      color: $btn-secondary-color;
      background-color: #e6e6e6;
      border-color: #adadad;
    }

    &.btn-info {
      &:hover {
        color: #fff;
        background-color: #005a89;
        border-color: #003f61;
      }
    }

    &.btn-link {
      .text-success {
        color: $btn-secondary-color !important;
      }
    }

    .text-success {
      color: white !important;
    }
  }

  .btn-info {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:hover {
      color: #fff;
      background-color: #005a89;
      border-color: #003f61;
    }
  }
}

/* Print table headings and footers on every page */
thead {display: table-header-group;}
tfoot {display: table-header-group;}
