@import '../../assets/scss/_variables.scss';

admin {
  .navbar {
    border-radius: 0px;
    padding: 0 1rem;

    .nav-link {
      padding-top: .55rem;
      cursor: pointer;
    }

    .navbar-toggler {
      margin: .5rem 0;
      cursor: pointer;
    }

    &.subnav {
      // border-top: 1px solid #eceeef; // Replace with $gray-lighter
      // border-bottom: 1px solid #eceeef; // Replace with $gray-lighter
      padding-top: .35rem;
      padding-bottom: .25rem;
      line-height: 1.75;
      background: #e6e6ec;
    }
  }

  .icon {
    vertical-align: top;

    g {
      fill: #748FA2;
    }
  }

  .btn-primary {
    background: $brand-primary;
  }

  a:hover {
    .icon {
      g {
        fill: #516879;
      }
    }
  }
}

.admin-logo {
  height: 1em;
  width: 1em;
  float: left;
  margin: .25rem .5rem 0 0;
}

.admin-content {
  background: #fff;
}

.btn-primary {
  &:not([href]):not([tabindex]) {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.gray-lighter {
  background: $gray-lighter;
}

.white {
  background: #fff;
}

.btn-unstyled {
  padding: 0;
  background: transparent;
}

.btn-unstyled.dropdown-toggle::after {
  display: none;
}

.gear-dropdown {
  .dropdown-menu-right {
    right: 1rem;
  }
}

.well-sm {
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
}

datepicker {
  .pull-right {
    float: right;
  }

  .glyphicon.glyphicon-chevron-left:after {
    content: "<";
  }

  .glyphicon.glyphicon-chevron-right:after {
    content: ">";
  }

  .btn-default {
    color: $btn-secondary-color;
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-border;
    border-radius: 0.15rem;

    &:hover {
      color: $btn-secondary-color;
      background-color: #e6e6e6;
      border-color: #adadad;
    }

    &.btn-info {
      &:hover {
        color: #fff;
        background-color: #005a89;
        border-color: #003f61;
      }
    }

    &.btn-link {
      .text-success {
        color: $btn-secondary-color !important;
      }
    }

    .text-success {
      color: white !important;
    }
  }

  .btn-info {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:hover {
      color: #fff;
      background-color: #005a89;
      border-color: #003f61;
    }
  }
}

.form-group.required .control-label:after {
  content:"*";
  color: #d9534f;
  padding-left: 5px;
}


.adventure-club-toggle-label {
  margin-top: 8px;
}

.adventure-club-toggle {
}
