<header-event></header-event>

<div class="wrapper new-family-registration">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 mb-2">
        <h1>New Family Registration</h1>
      </div><!--/col-sm-12-->

      <form (ngSubmit)="onSubmit(newFamilyRegistrationForm)" #newFamilyRegistrationForm="ngForm" novalidate>
        <new-parent [parent]="family.parent" [submitted]="submitted" (updateNumberOfKids)="updateNumberOfKids($event)"></new-parent>

        <div class="col-xs-12 mb-2" *ngFor="let child of family.children; let idx = index;">
          <new-child [submitted]="submitted" [child]="child" [childNumber]="idx" [gradeGroups]="gradeGroups"></new-child>
        </div>

        <div class="col-xs-12">
          <div class="float-sm-right mb-3">
            <loading-button buttonType="submit" buttonClasses="btn btn-primary float-xs-right" normalText="Sign In" loadingText="Signing In..." [loading]="processing"></loading-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
