<header-event></header-event>

<div class="wrapper new-family-registration">
  <div class="container-fluid mb-3">
    <div class="row">
      <div class="col-sm-12 my-2">
        <h3>New Family Registration</h3>
      </div><!--/col-sm-12-->

      <form (ngSubmit)="onSubmit(newFamilyRegistrationForm)" #newFamilyRegistrationForm="ngForm" novalidate>
        <div class="col-xs-12 mb-2">
          <h4>Parent/Guardian Info</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="firstName" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.parent.FirstName" name="firstName" #firstName="ngModel"
                  [class.has-error]="!firstName.valid && submitted" required>
                <span [hidden]="firstName.valid || (firstName.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="lastName" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.parent.LastName" name="lastName" #lastName="ngModel"
                  [class.has-error]="!lastName.valid && submitted" required>
                <span [hidden]="lastName.valid || (lastName.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input type="text" class="form-control" [textMask]="{mask: maskPhoneNumber}" [(ngModel)]="family.parent.PhoneNumber" name="phoneNumber" #phoneName="ngModel"
                  [class.has-error]="!phoneName.valid && submitted" required>
                <span [hidden]="phoneName.valid || (phoneName.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="numberOfPossibleKids" class="control-label">Number of Children</label>
                <select class="form-control" name="numberOfKids" [(ngModel)]="family.numberOfKids" (change)="updateNumberOfKids()">
                  <option [selected]="family.numberOfKids == 1">1</option>
                  <option [selected]="family.numberOfKids == 2">2</option>
                  <option [selected]="family.numberOfKids == 3">3</option>
                  <option [selected]="family.numberOfKids == 4">4</option>
                  <option [selected]="family.numberOfKids == 5">5</option>
                  <option [selected]="family.numberOfKids == 6">6</option>
                  <option [selected]="family.numberOfKids == 7">7</option>
                  <option [selected]="family.numberOfKids == 8">8</option>
                  <option [selected]="family.numberOfKids == 9">9</option>
                  <option [selected]="family.numberOfKids == 10">10</option>
                  <option [selected]="family.numberOfKids == 11">11</option>
                  <option [selected]="family.numberOfKids == 12">12</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 1 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 0">
          <h4>Child 1</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName1" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[0].FirstName" name="childFirstName1" #childFirstName1="ngModel" required
                  [class.has-error]="!childFirstName1.valid && submitted">
                <span [hidden]="childFirstName1.valid || (childFirstName1.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName1" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[0].LastName" name="childLastName1" #childLastName1="ngModel" required
                  [class.has-error]="!childLastName1.valid && submitted">
                <span [hidden]="childLastName1.valid || (childLastName1.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate1" class="control-label">Birth Date</label>
                <br/>
                <!-- <crds-datepicker name="childBirthDate1" autoClose="true" [(date)]="family.children[0].DateOfBirth" [maxDate]="maxDate"></crds-datepicker> -->
                <input type="text" class="form-control" [(ngModel)]="family.children[0].DateOfBirth" name="childDateOfBirth1" #childDateOfBirth1="ngModel" required
                  [class.has-error]="!childDateOfBirth1.valid && submitted" [textMask]="{mask: maskDate}" placeholder="02-12-2008">
                <span [hidden]="childDateOfBirth1.valid || (childDateOfBirth1.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[0])">
              <div class="form-group required">
                <label for="childGrade1" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[0], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 2 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 1">
          <h4>Child 2</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName2" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[1].FirstName" name="childFirstName2" #childFirstName2="ngModel" required
                  [class.has-error]="!childFirstName2.valid && submitted">
                <span [hidden]="childFirstName2.valid || (childFirstName2.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName2" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[1].LastName" name="childLastName2" #childLastName2="ngModel" required
                  [class.has-error]="!childLastName2.valid && submitted">
                <span [hidden]="childLastName2.valid || (childLastName2.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate2" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate2" autoClose="true" [(date)]="family.children[1].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[1])">
              <div class="form-group required">
                <label for="childGrade2" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[1], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 3 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 2">
          <h4>Child 3</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName3" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[2].FirstName" name="childFirstName3" #childFirstName3="ngModel" required
                  [class.has-error]="!childFirstName3.valid && submitted">
                <span [hidden]="childFirstName3.valid || (childFirstName3.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName3" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[2].LastName" name="childLastName3" #childLastName3="ngModel" required
                  [class.has-error]="!childLastName3.valid && submitted">
                <span [hidden]="childLastName3.valid || (childLastName3.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate3" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate3" autoClose="true" [(date)]="family.children[2].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[2])">
              <div class="form-group required">
                <label for="childGrade3" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[2], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 4 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 3">
          <h4>Child 4</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName4" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[3].FirstName" name="childFirstName4" #childFirstName4="ngModel" required
                  [class.has-error]="!childFirstName4.valid && submitted">
                <span [hidden]="childFirstName4.valid || (childFirstName4.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName4" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[3].LastName" name="childLastName4" #childLastName4="ngModel" required
                  [class.has-error]="!childLastName4.valid && submitted">
                <span [hidden]="childLastName4.valid || (childLastName4.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate4" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate4" autoClose="true" [(date)]="family.children[3].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[3])">
              <div class="form-group required">
                <label for="childGrade4" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[3], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 5 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 4">
          <h4>Child 5</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName5" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[4].FirstName" name="childFirstName5" #childFirstName5="ngModel" required
                  [class.has-error]="!childFirstName5.valid && submitted">
                <span [hidden]="childFirstName5.valid || (childFirstName5.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName1" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[4].LastName" name="childLastName5" #childLastName5="ngModel" required
                  [class.has-error]="!childLastName5.valid && submitted">
                <span [hidden]="childLastName5.valid || (childLastName5.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate5" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate5" autoClose="true" [(date)]="family.children[4].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[4])">
              <div class="form-group required">
                <label for="childGrade5" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[4], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 6 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 5">
          <h4>Child 6</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName6" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[5].FirstName" name="childFirstName2" #childFirstName6="ngModel" required
                  [class.has-error]="!childFirstName6.valid && submitted">
                <span [hidden]="childFirstName6.valid || (childFirstName6.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName6" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[5].LastName" name="childLastName6" #childLastName6="ngModel" required
                  [class.has-error]="!childLastName6.valid && submitted">
                <span [hidden]="childLastName6.valid || (childLastName6.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate6" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate6" autoClose="true" [(date)]="family.children[5].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[5])">
              <div class="form-group required">
                <label for="childGrade6" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[5], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 7 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 6">
          <h4>Child 7</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName7" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[6].FirstName" name="childFirstName7" #childFirstName7="ngModel" required
                  [class.has-error]="!childFirstName7.valid && submitted">
                <span [hidden]="childFirstName7.valid || (childFirstName7.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName7" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[6].LastName" name="childLastName7" #childLastName7="ngModel" required
                  [class.has-error]="!childLastName7.valid && submitted">
                <span [hidden]="childLastName7.valid || (childLastName7.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate7" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate7" autoClose="true" [(date)]="family.children[6].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[6])">
              <div class="form-group required">
                <label for="childGrade7" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[6], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 8 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 7">
          <h4>Child 8</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName8" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[7].FirstName" name="childFirstName8" #childFirstName8="ngModel" required
                  [class.has-error]="!childFirstName8.valid && submitted">
                <span [hidden]="childFirstName8.valid || (childFirstName8.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName8" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[7].LastName" name="childLastName4" #childLastName8="ngModel" required
                  [class.has-error]="!childLastName8.valid && submitted">
                <span [hidden]="childLastName8.valid || (childLastName8.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate8" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate8" autoClose="true" [(date)]="family.children[7].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[7])">
              <div class="form-group required">
                <label for="childGrade8" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[7], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 9 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 8">
          <h4>Child 9</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName9" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[8].FirstName" name="childFirstName9" #childFirstName9="ngModel" required
                  [class.has-error]="!childFirstName9.valid && submitted">
                <span [hidden]="childFirstName9.valid || (childFirstName9.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName9" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[8].LastName" name="childLastName9" #childLastName9="ngModel" required
                  [class.has-error]="!childLastName9.valid && submitted">
                <span [hidden]="childLastName9.valid || (childLastName9.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate9" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate9" autoClose="true" [(date)]="family.children[8].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[8])">
              <div class="form-group required">
                <label for="childGrade9" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[8], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 10 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 9">
          <h4>Child 10</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName10" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[9].FirstName" name="childFirstName10" #childFirstName10="ngModel" required
                  [class.has-error]="!childFirstName10.valid && submitted">
                <span [hidden]="childFirstName10.valid || (childFirstName10.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName10" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[9].LastName" name="childLastName10" #childLastName10="ngModel" required
                  [class.has-error]="!childLastName10.valid && submitted">
                <span [hidden]="childLastName10.valid || (childLastName10.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate10" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate10" autoClose="true" [(date)]="family.children[9].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[9])">
              <div class="form-group required">
                <label for="childGrade10" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[9], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 11 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 10">
          <h4>Child 11</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName11" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[10].FirstName" name="childFirstName11" #childFirstName11="ngModel" required
                  [class.has-error]="!childFirstName11.valid && submitted">
                <span [hidden]="childFirstName11.valid || (childFirstName11.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName11" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[10].LastName" name="childLastName11" #childLastName11="ngModel" required
                  [class.has-error]="!childLastName11.valid && submitted">
                <span [hidden]="childLastName11.valid || (childLastName11.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate11" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate11" autoClose="true" [(date)]="family.children[10].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[10])">
              <div class="form-group required">
                <label for="childGrade11" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[10], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Child 12 -->
        <div class="col-xs-12 mb-2" *ngIf="family.numberOfKids > 11">
          <h4>Child 12</h4>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childFirstName12" class="control-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[11].FirstName" name="childFirstName12" #childFirstName12="ngModel" required
                  [class.has-error]="!childFirstName12.valid && submitted">
                <span [hidden]="childFirstName12.valid || (childFirstName12.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childLastName12" class="control-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="family.children[11].LastName" name="childLastName12" #childLastName12="ngModel" required
                  [class.has-error]="!childLastName12.valid && submitted">
                <span [hidden]="childLastName12.valid || (childLastName12.pristine && !submitted)" class="has-error"><p>Please enter a value.</p></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group required">
                <label for="childBirthDate12" class="control-label">Birth Date</label>
                <br/>
                <crds-datepicker name="childBirthDate12" autoClose="true" [(date)]="family.children[11].DateOfBirth"></crds-datepicker>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="needGradeLevel(family.children[11])">
              <div class="form-group required">
                <label for="childGrade12" class="control-label">Year / Grade</label>
                <select class="form-control" (change)="updateChildYearGradeGroup(family.children[11], $event.target.value)">
                  <option>Has not started Kindergarten yet</option>
                  <option *ngFor="let grade of gradeGroups;" value="{{grade.Id}}">{{ grade.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 mb-3">
          <div class="float-sm-right">
            <loading-button buttonType="submit" buttonClasses="btn btn-primary float-xs-right" normalText="Register & Sign In Children" loadingText="Signing In..." [loading]="processing"></loading-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
