<div class="col-xs-12 mb-2">
  <h4>Parent/Guardian Info</h4>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group required">
        <label for="firstName" class="control-label">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="parent.FirstName" name="firstName">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group required">
        <label for="lastName" class="control-label">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="parent.LastName" name="lastName">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group required">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input type="text" class="form-control" [(ngModel)]="parent.PhoneNumber" name="phoneNumber">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group required">
        <label for="numberOfPossibleKids" class="control-label">Number of Children</label>
        <select class="form-control" (change)="update($event.target.value)">
          <option *ngFor="let number of numberOfPossibleKids;">{{ number }}</option>
        </select>
      </div>
    </div>
  </div>
</div>